In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [57]:
pln = pd.read_csv('PLN_TO_ITM_WK (KNA_COMRCL)_PLN_TO_ITM_WK.csv')

In [58]:
pln.head()

,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,Fisc Yr,Lvl A,Lvl B,...,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas,Sugstd Shlf Prc Sas,Totl Pln Kmf Cost Of Prod Usd
0,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
prediction_df_phase1 = pln[['Fisc Yr', 'WK', 'Yr & Wk', 'Actl Cost Of Prod Usd', 'Actl Ship Cs', 'Actl Ship Kg', 'Actl Ship Lbs', 'Actl Ship Units', 'Actl Ship Usd', 'Pln Base Cs', 'Pln Base Lbs', 'Pln Base Rtn Usd', 'Pln Base Units', 'Pln Base Usd', 'Pln Cons Lbs', 'Pln Cons Rtn Usd', 'Pln Cons Units', 'Pln Cons Usd', 'Pln Inc Usd', 'Pln Incr Cs', 'Pln Incr Lbs', 'Pln Incr Rtn Usd', 'Pln Incr Ship Cs', 'Pln Incr Ship Kgs', 'Pln Incr Ship Lbs', 'Pln Incr Ship Units', 'Pln Incr Ship Usd', 'Pln Incr Units', 'Pln Kmf', 'Pln Ship Cs', 'Pln Ship Ea', 'Pln Ship Kg', 'Pln Ship Lbs', 'Pln Ship Usd', 'Totl Pln Kmf Cost Of Prod Usd']]

In [60]:
prediction_df_phase1.head()

,Fisc Yr,WK,Yr & Wk,Actl Cost Of Prod Usd,Actl Ship Cs,Actl Ship Kg,Actl Ship Lbs,Actl Ship Units,Actl Ship Usd,Pln Base Cs,...,Pln Incr Ship Units,Pln Incr Ship Usd,Pln Incr Units,Pln Kmf,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Totl Pln Kmf Cost Of Prod Usd
0,2023,1,2023&1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023,2,2023&2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023,3,2023&3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023,4,2023&4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023,5,2023&5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
yrwk = prediction_df_phase1['Yr & Wk'].unique()
fiscyr = [int(string[:4]) for string in yrwk]
wk = [int(string[5:]) for string in yrwk]

In [62]:
prediction_df = pd.DataFrame()
prediction_df['Yr & Wk'] = yrwk
prediction_df['Fisc Yr'] = fiscyr
prediction_df['WK'] = wk

In [63]:
prediction_df = prediction_df.sort_values(by=['Fisc Yr', 'WK'], ascending = True)
prediction_df.reset_index(drop = True, inplace = True)

In [64]:
prediction_df

     Yr & Wk  Fisc Yr  WK
0     2020&1     2020   1
1     2020&2     2020   2
2     2020&3     2020   3
3     2020&4     2020   4
4     2020&5     2020   5
..       ...      ...  ..
256  2024&48     2024  48
257  2024&49     2024  49
258  2024&50     2024  50
259  2024&51     2024  51
260  2024&52     2024  52

[261 rows x 3 columns]

In [65]:
prediction_df_phase1.drop(columns = ['Fisc Yr', 'WK'])

,Yr & Wk,Actl Cost Of Prod Usd,Actl Ship Cs,Actl Ship Kg,Actl Ship Lbs,Actl Ship Units,Actl Ship Usd,Pln Base Cs,Pln Base Lbs,Pln Base Rtn Usd,...,Pln Incr Ship Units,Pln Incr Ship Usd,Pln Incr Units,Pln Kmf,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Totl Pln Kmf Cost Of Prod Usd
0,2023&1,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023&2,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023&3,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023&4,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023&5,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325643,2020&17,287.12,40.0,191.96,423.20,480.0,1252.80,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,2020&18,287.12,40.0,191.96,423.20,480.0,1252.80,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,2020&19,21.53,3.0,14.40,31.74,36.0,99.72,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,2020&20,143.56,20.0,95.98,211.60,240.0,626.40,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,2020&19,25.65,3.0,14.40,31.74,36.0,96.84,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
sums = prediction_df_phase1.groupby('Yr & Wk').sum().reset_index()

yrwk = sums['Yr & Wk'].unique()
fiscyr = [int(string[:4]) for string in yrwk]
wk = [int(string[5:]) for string in yrwk]

sums['Fisc Yr'] = fiscyr
sums['WK'] = wk

sums = sums.sort_values(by=['Fisc Yr', 'WK'], ascending = True)
sums.reset_index(drop = True, inplace = True)

In [67]:
sums = sums.drop(columns = ['Fisc Yr', 'WK'])

In [68]:
prediction_df = pd.merge(prediction_df, sums, on = 'Yr & Wk')

In [73]:
prediction_df_copy = prediction_df

In [74]:
prediction_df_copy = prediction_df_copy.drop(columns = ['Pln Base Cs', 'Pln Base Lbs', 'Pln Base Rtn Usd', 'Pln Base Units', 'Pln Base Usd', 'Pln Cons Lbs', 'Pln Cons Rtn Usd', 'Pln Cons Units', 'Pln Cons Usd', 'Pln Inc Usd', 'Pln Incr Cs', 'Pln Incr Lbs', 'Pln Incr Rtn Usd', 'Pln Incr Ship Cs', 'Pln Incr Ship Kgs', 'Pln Incr Ship Lbs', 'Pln Incr Ship Units', 'Pln Incr Ship Usd', 'Pln Incr Units', 'Pln Kmf', 'Pln Ship Cs', 'Pln Ship Ea', 'Pln Ship Kg', 'Pln Ship Lbs', 'Pln Ship Usd', 'Totl Pln Kmf Cost Of Prod Usd'])

In [76]:
prediction_df_copy['Fisc Yr'] += 1

In [78]:
prediction_df_copy = prediction_df_copy.rename(columns = {'Actl Cost Of Prod Usd' : 'Predicted Cost Of Prod Usd',
                                                          'Actl Ship Cs' : 'Predicted Ship Cs',
                                                          "Actl Ship Kg" : 'Predicted Ship Kg',
                                                          'Actl Ship Lbs' : 'Predicted Ship Lbs',
                                                          'Actl Ship Units' : 'Predicted Ship Units',
                                                          'Actl Ship Usd' : 'Predicted Ship Usd'})

In [79]:
prediction_df

,Yr & Wk,Fisc Yr,WK,Actl Cost Of Prod Usd,Actl Ship Cs,Actl Ship Kg,Actl Ship Lbs,Actl Ship Units,Actl Ship Usd,Pln Base Cs,...,Pln Incr Ship Units,Pln Incr Ship Usd,Pln Incr Units,Pln Kmf,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Totl Pln Kmf Cost Of Prod Usd
0,2020&1,2020,1,871436.96,147009.94,521498.59,1149706.47,1021571.90,2857563.64,973074.73,...,1740914.65,4961027.89,216606.76,5126644.00,1146941.19,5841639.51,3490174.17,7694550.95,19274886.35,7429249.83
1,2020&2,2020,2,8773994.97,1495928.39,5104546.61,11253585.81,8834574.79,28432388.72,592490.63,...,966999.40,2788142.63,769581.01,3162445.47,686924.69,4957187.58,2727618.28,6013264.49,15347102.07,5314390.06
2,2020&3,2020,3,4258778.81,712095.85,2858091.79,6301006.51,5147676.87,15554638.79,588994.09,...,1817280.83,4499056.04,840986.71,4108983.07,753565.64,5824294.38,3054854.82,6734698.60,17080242.12,5889803.36
3,2020&4,2020,4,4660342.01,876238.37,2978656.43,6566805.34,4999362.13,15848104.81,568169.15,...,1196907.90,3402855.51,1388541.34,3486399.97,675053.26,5085442.80,2761272.49,6087463.76,15553914.02,5342363.10
4,2020&5,2020,5,4388857.22,816038.44,3067653.08,6763010.03,5152229.71,15966562.88,598909.88,...,2128332.48,7476749.20,1371844.84,4173448.89,979537.06,6086021.69,3787324.51,8349499.15,19953141.27,6929164.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,2024&48,2024,48,0.00,0.00,0.00,0.00,0.00,0.00,613568.37,...,1291180.18,3997993.63,759194.60,4717150.75,721981.07,5280749.09,2971746.34,6551501.73,20455902.73,5475467.87
257,2024&49,2024,49,0.00,0.00,0.00,0.00,0.00,0.00,629999.48,...,1117389.19,3527912.68,1273862.15,4411589.38,721966.97,5234931.87,2986221.32,6583410.78,20479074.88,5489768.56
258,2024&50,2024,50,0.00,0.00,0.00,0.00,0.00,0.00,602074.92,...,499704.55,1622815.63,1185920.57,3854627.71,639142.42,4400092.83,2601899.52,5736127.08,17691894.17,4827215.23
259,2024&51,2024,51,0.00,0.00,0.00,0.00,0.00,0.00,581810.48,...,195477.14,738239.22,919229.86,3407276.34,594179.55,4000112.69,2404881.49,5301780.42,16297807.08,4471057.41
260,2024&52,2024,52,0.00,0.00,0.00,0.00,0.00,0.00,542993.52,...,463019.04,1532365.45,1041197.78,3276990.68,581113.93,4077513.62,2355039.44,5191903.74,16122774.68,4357222.39

In [86]:
temp = pd.DataFrame()

temp['Yr & Wk'] = ['2025&1', '2025&2', '2025&3', '2025&4', '2025&5', '2025&6', '2025&7', '2025&8', '2025&9', '2025&10', '2025&11', '2025&12', '2025&13', '2025&14', '2025&15', '2025&16', '2025&17', '2025&18', '2025&19', '2025&20', '2025&21', '2025&22', '2025&23', '2025&24', '2025&25', '2025&26', '2025&27', '2025&28', '2025&29', '2025&30', '2025&31', '2025&32', '2025&33', '2025&34', '2025&35', '2025&36', '2025&37', '2025&38', '2025&39', '2025&40', '2025&41', '2025&42', '2025&43', '2025&44', '2025&45', '2025&46', '2025&47', '2025&48', '2025&49', '2025&50', '2025&51', '2025&52']

temp['Fisc Yr'] = [2025 for _ in range(52)]

temp['WK'] = [int(i) for i in range(1,53)]

In [91]:
prediction_df = pd.concat([prediction_df, temp], axis = 0)

In [94]:
prediction_df_copy = prediction_df_copy.drop(columns = ['Yr & Wk'])

In [95]:
prediction_df = pd.merge(prediction_df, prediction_df_copy, how = 'outer', left_on = ['Fisc Yr', 'WK'], right_on = ['Fisc Yr', 'WK'])

In [96]:
prediction_df

,Yr & Wk,Fisc Yr,WK,Actl Cost Of Prod Usd,Actl Ship Cs,Actl Ship Kg,Actl Ship Lbs,Actl Ship Units,Actl Ship Usd,Pln Base Cs,...,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Totl Pln Kmf Cost Of Prod Usd,Predicted Cost Of Prod Usd,Predicted Ship Cs,Predicted Ship Kg,Predicted Ship Lbs,Predicted Ship Units,Predicted Ship Usd
0,2020&1,2020,1,871436.96,147009.94,521498.59,1149706.47,1021571.90,2857563.64,973074.73,...,3490174.17,7694550.95,19274886.35,7429249.83,NaN,NaN,NaN,NaN,NaN,NaN
1,2020&2,2020,2,8773994.97,1495928.39,5104546.61,11253585.81,8834574.79,28432388.72,592490.63,...,2727618.28,6013264.49,15347102.07,5314390.06,NaN,NaN,NaN,NaN,NaN,NaN
2,2020&3,2020,3,4258778.81,712095.85,2858091.79,6301006.51,5147676.87,15554638.79,588994.09,...,3054854.82,6734698.60,17080242.12,5889803.36,NaN,NaN,NaN,NaN,NaN,NaN
3,2020&4,2020,4,4660342.01,876238.37,2978656.43,6566805.34,4999362.13,15848104.81,568169.15,...,2761272.49,6087463.76,15553914.02,5342363.10,NaN,NaN,NaN,NaN,NaN,NaN
4,2020&5,2020,5,4388857.22,816038.44,3067653.08,6763010.03,5152229.71,15966562.88,598909.88,...,3787324.51,8349499.15,19953141.27,6929164.99,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,2025&48,2025,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
310,2025&49,2025,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
311,2025&50,2025,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
312,2025&51,2025,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
313,2025&52,2025,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
#prediction_df.to_csv('prediction.csv', index = False)