In [2]:
import pandas as pd

In [3]:
PLN=pd.read_csv("PLN_TO_ITM_WK (KNA_COMRCL)_PLN_TO_ITM_WK.csv")

In [4]:
import pandas as pd
df_preview = PLN.iloc[:, :10]

# Display the DataFrame preview
df_preview

,All In Flg,Alt Segment,BU,Cal Wk,Can Catg,Catg,Curr,Fisc Yr,Lvl A,Lvl B
0,F,PWS,K1,202301,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES
1,F,PWS,K1,202302,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES
2,F,PWS,K1,202303,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES
3,F,PWS,K1,202304,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES
4,F,PWS,K1,202305,NPF,TOASTER PASTRIES,USD,2023,US RETAIL CHANNELS,DRUG/DISCOUNT/TELESALES
...,...,...,...,...,...,...,...,...,...,...
1325643,F,CONVENIENCE,Specialty,202017,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME
1325644,F,CONVENIENCE,Specialty,202018,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME
1325645,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME
1325646,F,CONVENIENCE,Specialty,202020,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME
1325647,F,CONVENIENCE,Specialty,202019,NPF,TOASTER PASTRIES,CAD,2020,CANADA,CANADA OUT OF HOME

In [5]:
import pandas as pd
df_preview = PLN.iloc[:,10:20]

# Display the DataFrame preview
df_preview

,Lvl C,Lvl D,Lvl E,Matrl,Mixd Plt Flg,Mixd Plt Matrl,Mixd Plt Matrl Desc,Pd Yr,Pln To Nbr,Pln To Nm
0,TELESALES,TELESALES,TELESALES,3800025063,N,3800025063,PT CNFETTI CAKE BITES 3.5OZX6 SS,P1 2023,300023,DPI - WEST
1,TELESALES,TELESALES,TELESALES,3800025063,N,3800025063,PT CNFETTI CAKE BITES 3.5OZX6 SS,P1 2023,300023,DPI - WEST
2,TELESALES,TELESALES,TELESALES,3800025063,N,3800025063,PT CNFETTI CAKE BITES 3.5OZX6 SS,P1 2023,300023,DPI - WEST
3,TELESALES,TELESALES,TELESALES,3800025063,N,3800025063,PT CNFETTI CAKE BITES 3.5OZX6 SS,P1 2023,300023,DPI - WEST
4,TELESALES,TELESALES,TELESALES,3800025063,N,3800025063,PT CNFETTI CAKE BITES 3.5OZX6 SS,P2 2023,300023,DPI - WEST
...,...,...,...,...,...,...,...,...,...,...
1325643,CANADA FOOD SERVICE,CA FOOD SERVICE REGION,CA FOOD SERVICE SUBREGION,6410025666,N,6410025666,PT FR RASP 400gmx12,P4 2020,303979,CA AWAY FROM HOME
1325644,CANADA FOOD SERVICE,CA FOOD SERVICE REGION,CA FOOD SERVICE SUBREGION,6410025666,N,6410025666,PT FR RASP 400gmx12,P5 2020,303979,CA AWAY FROM HOME
1325645,CANADA FOOD SERVICE,CA FOOD SERVICE REGION,CA FOOD SERVICE SUBREGION,6410025666,N,6410025666,PT FR RASP 400gmx12,P5 2020,303979,CA AWAY FROM HOME
1325646,CANADA FOOD SERVICE,CA FOOD SERVICE REGION,CA FOOD SERVICE SUBREGION,6410025666,N,6410025666,PT FR RASP 400gmx12,P5 2020,303979,CA AWAY FROM HOME
1325647,CANADA FOOD SERVICE,CA FOOD SERVICE REGION,CA FOOD SERVICE SUBREGION,6410077003,N,6410077003,PT COOKS N' CREME 400GMX12,P5 2020,303979,CA AWAY FROM HOME

In [6]:
import pandas as pd
df_preview = PLN.iloc[:,20:30]

# Display the DataFrame preview
df_preview

,Prod Hier Brand,Prod Hier Brand Desc,Prod Hier Typ,Prod Hier Typ Desc,QTR,Sub Catg,SZ,Tier Nm,WK,Yr & Wk
0,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,1,TOASTER PASTRIES,S,DPI - WEST,1,2023&1
1,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,1,TOASTER PASTRIES,S,DPI - WEST,2,2023&2
2,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,1,TOASTER PASTRIES,S,DPI - WEST,3,2023&3
3,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,1,TOASTER PASTRIES,S,DPI - WEST,4,2023&4
4,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,1,TOASTER PASTRIES,S,DPI - WEST,5,2023&5
...,...,...,...,...,...,...,...,...,...,...
1325643,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,2,TOASTER PASTRIES,S,OOH CANADA,17,2020&17
1325644,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,2,TOASTER PASTRIES,S,OOH CANADA,18,2020&18
1325645,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,2,TOASTER PASTRIES,S,OOH CANADA,19,2020&19
1325646,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,2,TOASTER PASTRIES,S,OOH CANADA,20,2020&20
1325647,2010100052,Pop-Tarts,2.010100e+13,Pop-Tarts S,2,TOASTER PASTRIES,S,OOH CANADA,19,2020&19

In [7]:
import pandas as pd
df_preview = PLN.iloc[:,30:40]

# Display the DataFrame preview
df_preview

,Act Nsv Prxy Usd,Act Sc Prxy Usd,Actl Cost Of Prod Usd,Actl Ship Cs,Actl Ship Kg,Actl Ship Lbs,Actl Ship Units,Actl Ship Usd,Latst Estmt Cost Of Prod Usd,Latst Estmt Cost Of Prod Usd Fxd
0,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00
1,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00
2,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00
3,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00
4,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
1325643,1252.80,965.68,287.12,40.0,191.96,423.20,480.0,1252.80,287.12,85.86
1325644,1252.80,965.68,287.12,40.0,191.96,423.20,480.0,1252.80,287.12,85.86
1325645,99.72,78.19,21.53,3.0,14.40,31.74,36.0,99.72,21.53,6.44
1325646,626.40,482.84,143.56,20.0,95.98,211.60,240.0,626.40,143.56,42.93
1325647,96.84,71.19,25.65,3.0,14.40,31.74,36.0,96.84,25.65,10.56

In [8]:
import pandas as pd
df_preview = PLN.iloc[:,40:50]

# Display the DataFrame preview
df_preview

,Latst Estmt Gsv,Latst Estmt Kmf Usd,Latst Estmt Nsv Prxy Usd,Latst Estmt Sc Prxy Usd,Latst Estmt Sc Prxy Usd Gsv,Latst Estmt Ship Lbs,Latst Estmt Ship Units,Le Cop Fixed,Le Cs,Le Kgs
0,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00
1,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00
2,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00
3,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00
4,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
1325643,1252.80,0.0,1252.80,965.68,965.68,423.20,480.0,380.80,40.0,191.96
1325644,1252.80,0.0,1252.80,965.68,965.68,423.20,480.0,380.80,40.0,191.96
1325645,99.72,0.0,99.72,78.19,78.19,31.74,36.0,28.56,3.0,14.40
1325646,626.40,0.0,626.40,482.84,482.84,211.60,240.0,190.40,20.0,95.98
1325647,96.84,0.0,96.84,71.19,71.19,31.74,36.0,36.21,3.0,14.40

In [9]:
import pandas as pd
df_preview = PLN.iloc[:,50:60]

# Display the DataFrame preview
df_preview

,Le Price Chng Usd,PD,Pln Base Cs,Pln Base Lbs,Pln Base Rtn Usd,Pln Base Units,Pln Base Usd,Pln Cons Lbs,Pln Cons Rtn Usd,Pln Cons Units
0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1325643,0.0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
import pandas as pd
df_preview = PLN.iloc[:,60:70]

# Display the DataFrame preview
df_preview

,Pln Cons Usd,Pln Inc Usd,Pln Incr Cs,Pln Incr Lbs,Pln Incr Rtn Usd,Pln Incr Ship Cs,Pln Incr Ship Kgs,Pln Incr Ship Lbs,Pln Incr Ship Units,Pln Incr Ship Usd
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1325643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
import pandas as pd
df_preview = PLN.iloc[:,70:80]

# Display the DataFrame preview
df_preview

,Pln Incr Units,Pln Kmf,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1325643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
import pandas as pd
df_preview = PLN.iloc[:,80:90]

# Display the DataFrame preview
df_preview

         Sugstd Shlf Prc Sas  Totl Pln Kmf Cost Of Prod Usd
0                        0.0                            0.0
1                        0.0                            0.0
2                        0.0                            0.0
3                        0.0                            0.0
4                        0.0                            0.0
...                      ...                            ...
1325643                  0.0                            0.0
1325644                  0.0                            0.0
1325645                  0.0                            0.0
1325646                  0.0                            0.0
1325647                  0.0                            0.0

[1325648 rows x 2 columns]

In [13]:
PLN.describe()

,Cal Wk,Fisc Yr,Matrl,Mixd Plt Matrl,Pln To Nbr,Prod Hier Brand,Prod Hier Typ,QTR,WK,Act Nsv Prxy Usd,...,Pln Nsv Prxy Usd,Pln Sc Prxy Usd,Pln Ship Cs,Pln Ship Ea,Pln Ship Kg,Pln Ship Lbs,Pln Ship Usd,Sugstd Base Vol Sas,Sugstd Shlf Prc Sas,Totl Pln Kmf Cost Of Prod Usd
count,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325388e+06,1.325648e+06,1.325648e+06,1.325648e+06,...,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06,1.325648e+06
mean,2.022015e+05,2.021749e+03,3.966791e+09,3.966799e+09,3.010369e+05,2.010100e+09,2.010100e+13,2.504921e+00,2.659533e+01,1.993754e+03,...,2.862731e+03,1.767029e+03,1.568141e+02,1.017821e+03,6.129556e+02,1.351310e+03,3.662257e+03,9.809683e+01,1.608689e+00,1.095701e+03
std,1.412108e+02,1.404878e+00,6.418143e+08,6.418031e+08,6.698014e+02,1.228289e-03,1.425053e+01,1.115820e+00,1.499448e+01,1.919583e+04,...,2.019878e+04,1.216194e+04,1.610015e+03,5.903688e+03,4.806235e+03,1.059567e+04,2.542945e+04,9.149356e+02,2.064457e+00,8.650781e+03
min,2.020010e+05,2.020000e+03,1.700036e+08,1.700036e+08,3.000230e+05,2.010100e+09,2.010100e+13,1.000000e+00,1.000000e+00,-1.658277e+06,...,-5.430750e+05,-5.430750e+05,-1.661200e+03,-9.716100e+03,-5.596330e+03,-1.233783e+04,-3.157733e+04,-1.990000e+02,0.000000e+00,-1.708646e+04
25%,2.020510e+05,2.020000e+03,3.800022e+09,3.800022e+09,3.005440e+05,2.010100e+09,2.010100e+13,2.000000e+00,1.400000e+01,-3.352250e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.022080e+05,2.022000e+03,3.800022e+09,3.800022e+09,3.008880e+05,2.010100e+09,2.010100e+13,3.000000e+00,2.700000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.023250e+05,2.023000e+03,3.800025e+09,3.800025e+09,3.013660e+05,2.010100e+09,2.010100e+13,3.000000e+00,3.900000e+01,0.000000e+00,...,9.482225e+02,6.238000e+02,3.746000e+01,3.820700e+02,1.607600e+02,3.543800e+02,1.117905e+03,2.600000e+01,3.190000e+00,3.071200e+02
max,2.024520e+05,2.024000e+03,6.410077e+09,6.410077e+09,3.039790e+05,2.010100e+09,2.010100e+13,4.000000e+00,5.300000e+01,2.436376e+06,...,2.792750e+06,1.224300e+06,3.393600e+05,7.600000e+05,6.019776e+05,1.327116e+06,3.503600e+06,6.535800e+04,9.500000e+01,1.568450e+06

In [14]:
PLN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325648 entries, 0 to 1325647
Data columns (total 82 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   All In Flg                        1325648 non-null  object
 1   Alt Segment                       1325648 non-null  object
 2   BU                                1325648 non-null  object
 3   Cal Wk                            1325648 non-null  int64
 4   Can Catg                          1325648 non-null  object
 5   Catg                              1325648 non-null  object
 6   Curr                              1325648 non-null  object
 7   Fisc Yr                           1325648 non-null  int64
 8   Lvl A                             1325648 non-null  object
 9   Lvl B                             1325648 non-null  object
 10  Lvl C                             1325648 non-null  object
 11  Lvl D                             1325648 non-null  object
 12  Lvl E                             1325648 non-null  object
 13  Matrl                             1325648 non-null  int64
 14  Mixd Plt Flg                      1325648 non-null  object
 15  Mixd Plt Matrl                    1325648 non-null  int64
 16  Mixd Plt Matrl Desc               1325648 non-null  object
 17  Pd Yr                             1325648 non-null  object
 18  Pln To Nbr                        1325648 non-null  int64
 19  Pln To Nm                         1325648 non-null  object
 20  Prod Hier Brand                   1325648 non-null  int64
 21  Prod Hier Brand Desc              1325648 non-null  object
 22  Prod Hier Typ                     1325388 non-null  float64
 23  Prod Hier Typ Desc                1325388 non-null  object
 24  QTR                               1325648 non-null  int64
 25  Sub Catg                          1325648 non-null  object
 26  SZ                                1167935 non-null  object
 27  Tier Nm                           1325648 non-null  object
 28  WK                                1325648 non-null  int64
 29  Yr & Wk                           1325648 non-null  object
 30  Act Nsv Prxy Usd                  1325648 non-null  float64
 31  Act Sc Prxy Usd                   1325648 non-null  float64
 32  Actl Cost Of Prod Usd             1325648 non-null  float64
 33  Actl Ship Cs                      1325648 non-null  float64
 34  Actl Ship Kg                      1325648 non-null  float64
 35  Actl Ship Lbs                     1325648 non-null  float64
 36  Actl Ship Units                   1325648 non-null  float64
 37  Actl Ship Usd                     1325648 non-null  float64
 38  Latst Estmt Cost Of Prod Usd      1325648 non-null  float64
 39  Latst Estmt Cost Of Prod Usd Fxd  1325648 non-null  float64
 40  Latst Estmt Gsv                   1325648 non-null  float64
 41  Latst Estmt Kmf Usd               1325648 non-null  float64
 42  Latst Estmt Nsv Prxy Usd          1325648 non-null  float64
 43  Latst Estmt Sc Prxy Usd           1325648 non-null  float64
 44  Latst Estmt Sc Prxy Usd Gsv       1325648 non-null  float64
 45  Latst Estmt Ship Lbs              1325648 non-null  float64
 46  Latst Estmt Ship Units            1325648 non-null  float64
 47  Le Cop Fixed                      1325648 non-null  float64
 48  Le Cs                             1325648 non-null  float64
 49  Le Kgs                            1325648 non-null  float64
 50  Le Price Chng Usd                 1325648 non-null  float64
 51  PD                                1325648 non-null  int64
 52  Pln Base Cs                       1325648 non-null  float64
 53  Pln Base Lbs                      1325648 non-null  float64
 54  Pln Base Rtn Usd                  1325648 non-null  float64
 55  Pln Base Units                    1325648 non-null  float64
 56  Pln Base Usd                      1325648 non-null  float64
 57  Pln Cons Lbs                      1325648 non-null  float64
 58  Pln Cons Rtn Usd                  1325648 non-null  float64
 59  Pln Cons Units                    1325648 non-null  float64
 60  Pln Cons Usd                      1325648 non-null  float64
 61  Pln Inc Usd                       1325648 non-null  float64
 62  Pln Incr Cs                       1325648 non-null  float64
 63  Pln Incr Lbs                      1325648 non-null  float64
 64  Pln Incr Rtn Usd                  1325648 non-null  float64
 65  Pln Incr Ship Cs                  1325648 non-null  float64
 66  Pln Incr Ship Kgs                 1325648 non-null  float64
 67  Pln Incr Ship Lbs                 1325648 non-null  float64
 68  Pln Incr Ship Units               1325648 non-null  float64
 69  Pln Incr Ship Usd                 1325648 non-null  float64
 70  Pln Incr Units                    1325648 non-null  float64
 71  Pln Kmf                           1325648 non-null  float64
 72  Pln Nsv Prxy Usd                  1325648 non-null  float64
 73  Pln Sc Prxy Usd                   1325648 non-null  float64
 74  Pln Ship Cs                       1325648 non-null  float64
 75  Pln Ship Ea                       1325648 non-null  float64
 76  Pln Ship Kg                       1325648 non-null  float64
 77  Pln Ship Lbs                      1325648 non-null  float64
 78  Pln Ship Usd                      1325648 non-null  float64
 79  Sugstd Base Vol Sas               1325648 non-null  float64
 80  Sugstd Shlf Prc Sas               1325648 non-null  float64
 81  Totl Pln Kmf Cost Of Prod Usd     1325648 non-null  float64
dtypes: float64(52), int64(9), object(21)
memory usage: 829.3+ MB

In [19]:
import pandas as pd
pd.set_option('display.max_columns', None)

numeric_columns = PLN.select_dtypes(include='number').columns

for i in range(0, len(numeric_columns), 10):
    chunk_columns = numeric_columns[i:i+10]
    chunk_description = PLN[chunk_columns].describe().loc[['min', 'max']]
    print(chunk_description)

       Cal Wk  Fisc Yr         Matrl  Mixd Plt Matrl  Pln To Nbr  \
min  202001.0   2020.0  1.700036e+08    1.700036e+08    300023.0
max  202452.0   2024.0  6.410077e+09    6.410077e+09    303979.0

     Prod Hier Brand  Prod Hier Typ  QTR    WK  Act Nsv Prxy Usd
min     2.010100e+09   2.010100e+13  1.0   1.0       -1658277.12
max     2.010100e+09   2.010100e+13  4.0  53.0        2436375.95
     Act Sc Prxy Usd  Actl Cost Of Prod Usd  Actl Ship Cs  Actl Ship Kg  \
min       -971150.48             -766895.69      -18730.0    -415816.56
max       1681923.99             1440737.30      336672.0     501638.45

     Actl Ship Lbs  Actl Ship Units  Actl Ship Usd  \
min     -916717.50        -543240.0    -2073112.32
max     1105922.16         653184.0     3135283.20

     Latst Estmt Cost Of Prod Usd  Latst Estmt Cost Of Prod Usd Fxd  \
min                    -766895.69                        -243825.68
max                    1440737.30                         270714.12

     Latst Estmt Gsv
min      -2073112.32
max       3135283.20
     Latst Estmt Kmf Usd  Latst Estmt Nsv Prxy Usd  Latst Estmt Sc Prxy Usd  \
min           -648795.84               -1658277.12               -971150.48
max            698907.25                2436375.95               1681923.99

     Latst Estmt Sc Prxy Usd Gsv  Latst Estmt Ship Lbs  \
min                  -1378580.48            -916717.50
max                   2380831.24            1105922.16

     Latst Estmt Ship Units  Le Cop Fixed     Le Cs     Le Kgs  \
min               -543240.0   -1000524.00  -18730.0 -415816.56
max                653184.0    1440956.16  336672.0  501638.45

     Le Price Chng Usd
min         -240230.40
max          500706.88
       PD  Pln Base Cs  Pln Base Lbs  Pln Base Rtn Usd  Pln Base Units  \
min   1.0       -48.54       -163.54     -8.169180e+06         -183.07
max  12.0    339360.00    1075499.08      1.596361e+09       339360.00

     Pln Base Usd  Pln Cons Lbs  Pln Cons Rtn Usd  Pln Cons Units  \
min       -538.23      -3125.57     -8.169180e+06        -3691.98
max    2307648.00    1075499.08      1.596361e+09       339360.00

     Pln Cons Usd
min   -1366840.77
max    9712481.99
     Pln Inc Usd  Pln Incr Cs  Pln Incr Lbs  Pln Incr Rtn Usd  \
min  -1803056.41    -16212.00     -82340.75     -2.434713e+05
max   9537120.00     60622.05     307899.39      1.475561e+08

     Pln Incr Ship Cs  Pln Incr Ship Kgs  Pln Incr Ship Lbs  \
min         -80808.00          -95685.35          -82340.75
max         226894.83          522719.95          307899.39

     Pln Incr Ship Units  Pln Incr Ship Usd  Pln Incr Units
min            -124592.0         -930908.16       -48889.82
max             760000.0         3503600.00       222000.00
       Pln Kmf  Pln Nsv Prxy Usd  Pln Sc Prxy Usd  Pln Ship Cs  Pln Ship Ea  \
min -543074.97        -543074.97       -543074.97      -1661.2      -9716.1
max  710849.99        2792750.01       1224300.01     339360.0     760000.0

     Pln Ship Kg  Pln Ship Lbs  Pln Ship Usd  Sugstd Base Vol Sas  \
min     -5596.33     -12337.83     -31577.33               -199.0
max    601977.55    1327116.45    3503600.00              65358.0

     Sugstd Shlf Prc Sas
min                  0.0
max                 95.0
     Totl Pln Kmf Cost Of Prod Usd
min                      -17086.46
max                     1568450.00

In [20]:
import matplotlib.pyplot as plt

plt.scatter(PLN['Yr & Wk'],PLN['Pln Ship Usd'])

In [21]:
EDT=pd.read_csv("EDT_3P (KG_HADOOP) Prod_EDT_3P.csv")

In [22]:
import pandas as pd

non_numeric_columns = EDT.select_dtypes(exclude='number').columns

for column in non_numeric_columns:
    unique_values = EDT[column].unique()
    print(f"Unique values for '{column}':\n{unique_values}\n")

Unique values for '12 Months selected ':
[False  True]

Unique values for 'brand & size':
['PRLY LZBTH NOT APPLICABLE' 'BEST MAID COOKIE COMPANY NOT APPLICABLE'
 'AWAKE NOT APPLICABLE' 'BULLETPROOF NOT APPLICABLE' 'VEGA NOT APPLICABLE'
 'DETOUR NOT APPLICABLE' 'OVRNGHT OATS BAR NOT APPLICABLE'
 'BSN BR NOT APPLICABLE' 'ON BR NOT APPLICABLE' 'THNK NOT APPLICABLE'
 'GM FBR 1 NOT APPLICABLE' 'GM NV NOT APPLICABLE'
 'GM RATIO NOT APPLICABLE' 'GM TRT BARS NOT APPLICABLE'
 'GO MCRO NOT APPLICABLE' 'HERSHEY NOT APPLICABLE'
 'MUSCLETECH NOT APPLICABLE' 'JM SMUCKER BR REM NOT APPLICABLE'
 'KEL NG NOT APPLICABLE' 'KEL RKT NOT APPLICABLE'
 'KNOVA SK NOT APPLICABLE' 'KNOVA BEAR NKD NOT APPLICABLE'
 'MET-RX NOT APPLICABLE' 'PURE PROTEIN NOT APPLICABLE'
 'ZONE NOT APPLICABLE' 'BALANCE NOT APPLICABLE' 'EPC NOT APPLICABLE'
 'LARABAR NOT APPLICABLE' 'OATMEGA NOT APPLICABLE' 'ONE BR NOT APPLICABLE'
 'RXBAR NOT APPLICABLE' 'KIZE NOT APPLICABLE' 'NUGO NOT APPLICABLE'
 'KIND NOT APPLICABLE' 'CLIF NOT APPLICABLE' 'LUNA NOT APPLICABLE'
 'NO COW NOT APPLICABLE' 'ZING NOT APPLICABLE' 'GATORADE NOT APPLICABLE'
 'KNOVA KSH NOT APPLICABLE' 'PR RGNC NOT APPLICABLE'
 'KDK CAKES NOT APPLICABLE' "LENNY & LARRY'S NOT APPLICABLE"
 'MARS BR REM NOT APPLICABLE' 'NTRS BKR NOT APPLICABLE'
 'MCKEE BR REM NOT APPLICABLE' 'SNBLT NOT APPLICABLE'
 'CYTO SPORT MUSCLE MILK NOT APPLICABLE' 'HLTH WRRR NOT APPLICABLE'
 'PEPSICO BR REM NOT APPLICABLE' 'QKR BR REM NOT APPLICABLE'
 'PRVT LBL NOT APPLICABLE' 'PST BR REM NOT APPLICABLE'
 'PST PBBLS TRTS NOT APPLICABLE' 'PRFCT BAR NOT APPLICABLE'
 'PRO BAR NOT APPLICABLE' 'FIT CRUNCH NOT APPLICABLE'
 'POWER CRUNCH NOT APPLICABLE' 'REM BR NOT APPLICABLE'
 'BOBOS NOT APPLICABLE' 'ATKNS NOT APPLICABLE' 'QST NOT APPLICABLE'
 'LOVE GD FATS NOT APPLICABLE' 'THIS BAR SAVES LIVES NOT APPLICABLE'
 'TRPCN BR REM NOT APPLICABLE' 'MARINELA NOT APPLICABLE'
 'CAVEMAN NOT APPLICABLE' 'SLIM FAST NOT APPLICABLE'
 'CSCDN FRMS NOT APPLICABLE' 'QKR CWY NOT APPLICABLE'
 'QKR SFT BKD NOT APPLICABLE' 'TIGERS MILK NOT APPLICABLE'
 'SN MD BR NOT APPLICABLE' 'POWERBAR NOT APPLICABLE'
 'TASTYKAKE NOT APPLICABLE' 'JIMMYBAR NOT APPLICABLE'
 "THAT'S IT NOT APPLICABLE" 'THUNDERBIRD NOT APPLICABLE'
 'HORMEL BR REM NOT APPLICABLE' 'JIF NOT APPLICABLE'
 'KEL PT NOT APPLICABLE' 'GDNSS KNWS NOT APPLICABLE'
 'NESTLE HOLDINGS BR REM NOT APPLICABLE' 'GOOD BELLY NOT APPLICABLE'
 'EVLV BR NOT APPLICABLE' 'TAOS MOUNTAIN NOT APPLICABLE'
 "JACK LINK'S NOT APPLICABLE" 'GRDN OF LF NOT APPLICABLE'
 'GOOD TO GO NOT APPLICABLE' 'SIMPLY PROTEIN NOT APPLICABLE'
 'SQUARE ORGANICS NOT APPLICABLE' 'VANS NOT APPLICABLE'
 'ANNIES NOT APPLICABLE' 'ENJY LIFE NOT APPLICABLE'
 'GLUCERNA NOT APPLICABLE' 'MADE GOOD NOT APPLICABLE'
 'CAMPBELLS BR REM NOT APPLICABLE' 'PLUM NOT APPLICABLE'
 'ZEEZEES NOT APPLICABLE' 'FOOD SHOULD TASTE GOOD NOT APPLICABLE'
 'NTRS PTH NOT APPLICABLE' "GM AUTUMN'S GOLD NOT APPLICABLE"
 'GM BR REM NOT APPLICABLE' 'PAMELAS NOT APPLICABLE'
 'KEL TRT BARS NOT APPLICABLE' 'TOASTEM NOT APPLICABLE'
 'HEALTH VALLEY NOT APPLICABLE' 'S&B BR REM NOT APPLICABLE'
 'EARTHS BST NOT APPLICABLE' 'THMS NOT APPLICABLE'
 'PLLSBRY NOT APPLICABLE' 'NABISCO BR BASE NOT APPLICABLE'
 'SOUTH BEACH NOT APPLICABLE' 'QKR TRT BARS NOT APPLICABLE'
 'GLUTNO NOT APPLICABLE' 'HAPPY KIDS NOT APPLICABLE'
 'GM PRTN 1 NOT APPLICABLE' 'QKR KIDS ORGANIC NOT APPLICABLE'
 'JUNKLESS NOT APPLICABLE' 'LTL DEB NOT APPLICABLE'
 'GRANDMAS NOT APPLICABLE' 'DV KLLR BRD NOT APPLICABLE'
 'ODWALLA NOT APPLICABLE' 'SUNRYPE NOT APPLICABLE' 'BIMBO NOT APPLICABLE'
 'GD MEASR NOT APPLICABLE' 'ENSURE NOT APPLICABLE'
 'KRAFT BR REM NOT APPLICABLE' 'KNOVA BR REM NOT APPLICABLE'
 'BARBRAS NOT APPLICABLE' 'B&G FD BR REM NOT APPLICABLE'
 'GATORBAR NOT APPLICABLE' 'FBC BR NOT APPLICABLE'
 'ENTENMANNS NOT APPLICABLE' 'SOY JOY NOT APPLICABLE' 'EAS NOT APPLICABLE'
 'KEL FIB PLUS NOT APPLICABLE' 'DANNON NOT APPLICABLE'
 'WELCHS NOT APPLICABLE' 'ZBD BR NOT APPLICABLE'
 'ARBOR INVESTMENTS BR REM NOT APPLICABLE' 'DNX NOT APPLICABLE'
 'SIMPLY SNACKIN NOT APPLICABLE' 'BEECHNUT NOT APPLICABLE'
 'TANKA BAR NOT APPLICABLE' 'WILD ZORA NOT APPLICABLE'
 'ORGANIC PRAIRIE NOT APPLICABLE' 'THOUSAND HILLS NOT APPLICABLE'
 'DOLE NOT APPLICABLE' 'COKE BR REM NOT APPLICABLE'
 'COUNTRY ARCHER! NOT APPLICABLE' 'KRATOS NOT APPLICABLE'
 'HAIN CELESTIAL BR REM NOT APPLICABLE' 'MARIANI NOT APPLICABLE'
 'B&G BR REM NOT APPLICABLE' 'SWEETWOOD CATTLE CO. NOT APPLICABLE'
 'GO MCRO BR REM NOT APPLICABLE' 'BCK 2 NTR BR REM NOT APPLICABLE'
 'THE CLTRD SNCKNG C NOT APPLICABLE' 'NB 100 CAL NOT APPLICABLE'
 'SIX STAR NOT APPLICABLE' 'CONGRA BR REM NOT APPLICABLE'
 'AMZNG GRSS NOT APPLICABLE' 'EMERALD NOT APPLICABLE'
 'TREE HS BR REM NOT APPLICABLE' 'PRVN REM BR NOT APPLICABLE']

Unique values for 'Kel Brand':
['PRLY LZBTH' 'BEST MAID COOKIE COMPANY' 'AWAKE' 'BULLETPROOF' 'VEGA'
 'DETOUR' 'OVRNGHT OATS BAR' 'BSN BR' 'ON BR' 'THNK' 'GM FBR 1' 'GM NV'
 'GM RATIO' 'GM TRT BARS' 'GO MCRO' 'HERSHEY' 'MUSCLETECH'
 'JM SMUCKER BR REM' 'KEL NG' 'KEL RKT' 'KNOVA SK' 'KNOVA BEAR NKD'
 'MET-RX' 'PURE PROTEIN' 'ZONE' 'BALANCE' 'EPC' 'LARABAR' 'OATMEGA'
 'ONE BR' 'RXBAR' 'KIZE' 'NUGO' 'KIND' 'CLIF' 'LUNA' 'NO COW' 'ZING'
 'GATORADE' 'KNOVA KSH' 'PR RGNC' 'KDK CAKES' "LENNY & LARRY'S"
 'MARS BR REM' 'NTRS BKR' 'MCKEE BR REM' 'SNBLT' 'CYTO SPORT MUSCLE MILK'
 'HLTH WRRR' 'PEPSICO BR REM' 'QKR BR REM' 'PRVT LBL' 'PST BR REM'
 'PST PBBLS TRTS' 'PRFCT BAR' 'PRO BAR' 'FIT CRUNCH' 'POWER CRUNCH'
 'REM BR' 'BOBOS' 'ATKNS' 'QST' 'LOVE GD FATS' 'THIS BAR SAVES LIVES'
 'TRPCN BR REM' 'MARINELA' 'CAVEMAN' 'SLIM FAST' 'CSCDN FRMS' 'QKR CWY'
 'QKR SFT BKD' 'TIGERS MILK' 'SN MD BR' 'POWERBAR' 'TASTYKAKE' 'JIMMYBAR'
 "THAT'S IT" 'THUNDERBIRD' 'HORMEL BR REM' 'JIF' 'KEL PT' 'GDNSS KNWS'
 'NESTLE HOLDINGS BR REM' 'GOOD BELLY' 'EVLV BR' 'TAOS MOUNTAIN'
 "JACK LINK'S" 'GRDN OF LF' 'GOOD TO GO' 'SIMPLY PROTEIN'
 'SQUARE ORGANICS' 'VANS' 'ANNIES' 'ENJY LIFE' 'GLUCERNA' 'MADE GOOD'
 'CAMPBELLS BR REM' 'PLUM' 'ZEEZEES' 'FOOD SHOULD TASTE GOOD' 'NTRS PTH'
 "GM AUTUMN'S GOLD" 'GM BR REM' 'PAMELAS' 'KEL TRT BARS' 'TOASTEM'
 'HEALTH VALLEY' 'S&B BR REM' 'EARTHS BST' 'THMS' 'PLLSBRY'
 'NABISCO BR BASE' 'SOUTH BEACH' 'QKR TRT BARS' 'GLUTNO' 'HAPPY KIDS'
 'GM PRTN 1' 'QKR KIDS ORGANIC' 'JUNKLESS' 'LTL DEB' 'GRANDMAS'
 'DV KLLR BRD' 'ODWALLA' 'SUNRYPE' 'BIMBO' 'GD MEASR' 'ENSURE'
 'KRAFT BR REM' 'KNOVA BR REM' 'BARBRAS' 'B&G FD BR REM' 'GATORBAR'
 'FBC BR' 'ENTENMANNS' 'SOY JOY' 'EAS' 'KEL FIB PLUS' 'DANNON' 'WELCHS'
 'ZBD BR' 'ARBOR INVESTMENTS BR REM' 'DNX' 'SIMPLY SNACKIN' 'BEECHNUT'
 'TANKA BAR' 'WILD ZORA' 'ORGANIC PRAIRIE' 'THOUSAND HILLS' 'DOLE'
 'COKE BR REM' 'COUNTRY ARCHER!' 'KRATOS' 'HAIN CELESTIAL BR REM'
 'MARIANI' 'B&G BR REM' 'SWEETWOOD CATTLE CO.' 'GO MCRO BR REM'
 'BCK 2 NTR BR REM' 'THE CLTRD SNCKNG C' 'NB 100 CAL' 'SIX STAR'
 'CONGRA BR REM' 'AMZNG GRSS' 'EMERALD' 'TREE HS BR REM' 'PRVN REM BR']

Unique values for 'Kel Category':
['PWS']

Unique values for 'Kel Corporate':
['APT HLTH LV CRP' 'ARBR INV CRP' 'AWKE CRP' 'BLTPRF CRP' 'DANONE CRP'
 'FWD FD CRP' 'GLANBA CRP' 'GMI CRP' 'GO MCRO CRP' 'HRSHY CRP'
 'IOVATE CRP' 'JM SMKR CRP' 'K CRP' '1440 FDS CMPNY CRP' 'ABOT LAB CRP'
 'BALNC BAR CRP' 'KIZE CNCPT CRP' 'LFSTYL EVOL CRP' 'MARS CRP' 'MNDLZ CRP'
 'NO COW CRP' 'NTHWST NUTRNL CRP' 'PEPSI CRP' 'KDK CRP' 'LEN & LRY CRP'
 'MCKEE FD CRP' 'PL CRP' 'POST CRP' 'PRFCT BAR CRP' 'PRO BAR CRP'
 'PRVN FDS CRP' 'PWR CRNCH CRP' 'REM CRP' 'SMPLY DEL CRP'
 'SMPLY GD FD CRP' 'THE GD FAT CRP' 'THS BR SVS LVS CRP' 'TRPCN CRP'
 'GRUPO BMBO CRP' 'CAVEMAN CRP' 'RCKTT BNCKSR PLC CRP'
 'SN MD GRWRS CA CRP' 'WRLDWD SPRTS CRP' 'FLWR FD CRP' 'JMY NTRL FD CRP'
 'THAT IT NTRN CRP' 'THNDRBRD CRP' 'HRML FD CRP' 'NSTL CRP' 'NXTFDS CRP'
 'TAOS MTN ENGY CRP' 'LINK SNK CRP' 'RVR NTRL FD CRP' 'SQR ORG CRP'
 'KLBRG CRP' 'CMPBL CRP' 'ZEEZEES CRP' 'NTRS PTH CRP' 'QUINOA CRP'
 'SCHLZ BRCH CRP' 'HN CLSTL CRP' 'SBD FD CRP' 'CONGRA CRP'
 'SMPLY EGHT CRP' 'COKE CRP' 'LASND IND CRP' 'KFR HNZ CRP' 'B&G FD CRP'
 'PHRMVT CRP' 'PRMTN N MTN CRP' 'DNX FD CRP' 'PCHN VNTRS CRP'
 'AOH NHRNG CRP' 'NTVE AMER NTRL CRP' 'WLD ZORA CRP' 'COULE REG ORG CRP'
 'THSND HLLS CTTL CMPN CRP' 'DOLE CRP' 'CNTRY ARCH CRP' 'QRTR SHR CRP'
 'MARIANI PKG CRP' 'SWEETWOD SMK & CO CRP' 'TREE HS FD CRP']

Unique values for 'Kel Count':
['01 CT' '02 CT' '03 CT' '04 CT' '05 CT' '06 CT' '08 CT' '09 CT' '10 CT'
 '12 CT' '15 CT' '16 CT' '18 CT' '24 CT' '48 CT' '49 CT' '72 CT' 'DOY BAG'
 'REM COUNT' '14 CT' '20 CT' '07 CT' '60 CT' '36 CT' '32 CT' '30 CT'
 '19 CT' '21 CT' '40 CT' '25 CT' '22 CT' '28 CT' '50 CT' '34 CT' '54 CT'
 '26 CT' '35 CT' '42 CT' '80 CT' '96 CT' '27 CT' '58 CT' '70 CT']

Unique values for 'Kel Otg':
['NOT APPLICABLE']

Unique values for 'Kel Ppg':
['ALL OTHER' 'VEGA BAR SS' 'THINK THIN PTN BAR 1CT' 'GM FIBER ONE WS 1CT'
 'GM NAT VLLY CHEWY PROTEIN 1CT' 'GM NAT VLLY WS 1CT'
 'GM RATIO KETO SNACK BAR 1CT' 'NOT APPLICABLE' 'GOMACRO BAR 1CT'
 'NUTRI-GRAIN BITES 1CT' 'RKT POPPERS SS' 'SPECIAL K BARS PREMIUM 1CT'
 'SPECIAL K PROTEIN BARS SS' 'EPIC BAR 1CT' 'GM LARABAR 1CT'
 'RKT SQUARES BIG BAR SS' 'RXBAR KIDS BAR 1CT' 'RXBAR PROTEIN BAR 1CT'
 'KIND BAR 1CT' 'KIND PRSD FRT BAR 1CT' 'KIND PRTN BAR 1CT'
 'CLIF BASE BAR 1CT' 'CLIF BUILDERS BAR 1CT' 'CLIF NUT BUTTER 1CT'
 'CLIF WHOLE LOTTA 1CT' 'CLIF WHY PRTN BAR 1CT'
 'CLIF LUNA ALL VARITS BAR 1CT' 'KASHI CHEWY BARS SS' 'KASHI GO BARS SS'
 'PURE ANCIENT GRAINS BARS SS' 'PURE FRUIT & NUT BARS SS'
 'KODIAK CRUNCHY GRANOLA BARS 1CT' 'KIND NT BUTR BAR 1CT'
 'NATURES BAKERY BAR 2CT' 'MCKEE SUNBELT BARS 1CT' 'PL SNACK BAR 1CT'
 'PERFECT BAR 1CT' 'PRO BAR 1CT' 'PL TREAT MRSH BAR 1CT'
 'QUEST PROTEIN BAR 4CT' 'THINK HIGH PTN BAR 5CT' 'THINK KIDS PTN BAR 5CT'
 'GM NAT VLLY CHEWY PROTEIN 5CT' 'CASCFRM GRANOLA 5CT-6CT' 'QKR CHEWY 5CT'
 'PL SNACK BAR 5CT' 'ATKINS ADV SNACK BAR 5CT' 'QUEST PROTEIN BAR 1CT'
 'GM WS TREAT BARS 1CT' 'NUTRI-GRAIN CEREAL BARS SS'
 'RKT SQUARES DUNKD SS' 'RKT SQUARES SS' 'CLIF KIDS BAR 1CT'
 'QKR CHEWY 1CT' 'GM NAT VLLY SOFT BAKED 6CT' 'SPECIAL K BARS PREMIUM 6CT'
 'NATURES BAKERY BAR 6CT' 'CLIF BASE BAR 6CT'
 'SMASH MALLOW CRISPY RICE TRT 6CT' 'KIND BREAKFAST 4CT'
 'MCKEE SUNBELT BARS 8-10CT' 'PST PEBBLES TREATS 8CT' 'PERFECT BAR 8CT'
 'THINK THIN PTN BAR 10CT' 'GM NAT VLLY CHEWY PROTEIN 10CT'
 'KIND GRANOLA 5CT' 'PL CHEWY GRANOLA BAR 10CT' 'GM WS TREAT BARS 12CT'
 'GOMACRO BAR 12-15CT' 'RKT SQUARES BIG BAR 12CT' 'RXBAR PROTEIN BAR 12CT'
 'KIND BAR 12CT' 'CLIF BASE BAR 12CT' 'CLIF BUILDERS BAR 12CT'
 'PL CRUNCHY GRANOLA BAR 6CT' 'QUEST PROTEIN BAR 12CT' 'GM LARABAR 16CT'
 'NATURES BAKERY BAR 24CT' 'GM NAT VLLY WS 98CT' 'RKT POPPERS S'
 'RKT SHEET' 'POP-TARTS SS' 'SPECIAL K CEREAL BARS SS'
 'BEAR NAKED NUT BUTTER BAR 1CT' 'GOODNESSKNOWS 1CT' 'SK PASTRY CRISPS SS'
 'KIND BREAKFAST 1CT' 'GM FIBER ONE WS 5CT' 'VANS BAR 5CT'
 'QKR BRKF BAR 5CT' 'QKR CHEWY YGRT 5CT' 'ATKINS ADV MEAL BAR 5CT'
 'ATKINS ENDULGE BAR 5CT' 'ANNIES GRANOLA BARS'
 'GM FIBER ONE DESSERT BRS 5-6CT' 'SPECIAL K CEREAL BARS 6CT'
 'SPECIAL K PROTEIN BARS 6CT' 'QKR CHEWY DIPPS 6CT'
 'PL CHEWY TRAIL MIX 6CT' 'PL SWEET AND SALTY NUT 6CT' 'RKT SQUARES 8CT'
 'BEAR NAKED NUT BUTTER BAR 8CT' 'CLIF WHY PRTN BAR 8CT'
 'PL CEREAL BAR SFT BKS 8CT' 'ATKINS ADV MEAL BAR 8CT'
 'QUEST PROTEIN BAR 10CT' 'SK PASTRY CRISPS 12CT' 'GM WS TREAT BARS 16CT'
 'RKT SQUARES 16CT' 'GM WS PROTEIN TREAT BARS 1CT'
 'GM NAT VLLY PACKED 4CT' 'GM RATIO KETO SNACK BAR 4CT'
 'KASHI GO BARS 4CT' 'THINK THIN PTN BAR 5CT' 'GM FIBER ONE PROTEIN 5CT'
 'GM NAT VLLY SOFT BAKED 5CT' 'GM NAT VLLY WAFER 5CT' 'GM LARABAR 5CT'
 'NUTRI-GRAIN BITES 5CT' 'SPECIAL K BARS PREMIUM 5CT' 'RXBAR KIDS BAR 5CT'
 'RXBAR PROTEIN BAR 5CT' 'KIND PRTN BAR 5CT' 'CLIF KIDS BAR 5-6CT'
 'CLIF WHY PRTN BAR 5CT' 'PL CHEWY GRANOLA BAR 5CT'
 'PL WS FIBER BAR 5-6CT' 'QUEST SNACK BAR 5CT' 'PLUM ORG JAMMY SAMMY 5CT'
 'GM RATIO KETO SNACK BAR 6CT' 'GM LARABAR 6CT' 'KASHI CEREAL BARS 6CT'
 'CLIF LUNA ALL VARITS BAR 6CT' 'GM WS TREAT BARS 8CT'
 'NUTRI-GRAIN CEREAL BARS 8CT' 'QKR CHEWY 8CT' 'PL CHEWY GRANOLA BAR 8CT'
 'QUEST PROTEIN BAR 8CT' 'GM NAT VLLY MINI 10CT' 'KASHI CRUNCHY BARS 6CT'
 'RXBAR PROTEIN BAR 10CT' 'KIND THINS 10CT' 'CLIF KIDS BAR 10-12CT'
 'ATKINS ENDULGE BAR 10CT' 'GM FIBER ONE DESSERT BARS 12CT'
 'RKT HOMESTYLE BARS 12CT' 'KIND BAR 15CT' 'GM NAT VLLY GRANOLA BITES'
 'POP-TARTS BITES 5CT' 'PL CHEWY PROTEIN 5CT' 'KIND CLUSTERS DIPPED'
 'CLIF KIDS BAR 15-18CT' 'KIND NT BUTR BAR 4CT' 'ENJOY LIFE PRTN BITES'
 'CLIF BASE BAR MINI 20CT' 'QKR CHEWY YGRT 14CT' 'PL TOASTER PASTRY 8CT'
 'KIND PRSD FRT BAR 12CT' 'PURE FRUIT & NUT BARS 5CT'
 'NATURES BAKERY BAR 18CT' 'GM NAT VLLY CUP 5CT' 'WHENEVER BARS 5CT'
 'KEL CEREAL BREAKFAST BAR 6CT' 'QKR CHEWY DIPPS 14CT'
 'KASHI LAYERED BARS 6CT' 'PL CEREAL BAR SFT BKS 16CT'
 'POP-TARTS BITES SS' 'RKT SQUARES MINI 64CT'
 'KODIAK CRUNCHY GRANOLA BARS 6CT' 'QKR CHEWY YGRT 1CT' 'EPIC BAR 12CT'
 'SK PASTRY CRISPS 60CT' 'CLIF KIDS FRUIT SNACKS 18CT'
 'KEL CEREAL BREAKFAST BAR 18CT' 'KASHI BITES 5CT' 'POP-TARTS SIMPLY 8CT'
 'TOASTEMS TSTR PSTRY 36CT' 'JIF PWR UPS 5CT' 'POP-TARTS 8CT'
 'POP-TARTS CRISPS 12CT' 'CLIF KIDS FRUIT SNACKS 6CT'
 'GM WS TREAT BARS 6CT' 'EARTHS BEST SNCK BAR 8CT'
 'GM NAT VLLY CHEWY PROTEIN 15CT' 'POP-TARTS 12CT'
 'CLIF KIDS FRUIT SNACKS 1CT' 'GM NAT VLLY PACKED 8CT'
 'ATKINS DAY BREAK BAR SQR 5CT' 'ANNIES RC TREAT BAR 5CT'
 'PERFECT BAR 4CT' 'CLIF BASE BAR MINI 10CT' 'GM NAT VLLY MINI 20CT'
 'QKR FRTY FUN 6CT' 'CLIF NUT BUTTER 5CT' 'POP-TARTS 32CT'
 'KIND MINIS 10CT' 'GM FIBER ONE DESSERT BARS 18CT' 'RKT SQUARES 60CT'
 'GM LARABAR 18CT' 'GM NAT VLLY WS 30CT' 'QKR BRK SQR 5CT'
 'RKT SQUARES MINI 19CT' 'KASHI CHEWY BARS 6CT' 'RKT SQUARES 14CT'
 'ATKINS ADV MEAL BAR 16CT' 'QUEST PROTEIN BAR MINIS 14CT'
 'NUTRI-GRAIN CEREAL BARS 16CT' 'PL CHEWY GRANOLA BAR 18CT'
 'GM WS TREAT BARS 20CT' 'KIND MINIS 20CT' 'QKR CHEWY YGRT 21CT'
 'QKR CHEWY 30CT' 'RKT SQUARES MINI 32CT' 'KEL CEREAL BREAKFAST BAR 36CT'
 'RKT SQUARES 40CT' 'CLIF DUOS 1CT' 'RXBAR PROTEIN BAR 4CT' 'KIND BAR 4CT'
 'KASHI CHEWY BARS 5CT' 'RKT HOMESTYLE BARS 6CT' 'KIND BAR 6CT'
 'GM WS PROTEIN TREAT BARS 8CT' 'RXBAR PROTEIN BAR 8CT'
 'THINK THIN PTN BAR 12CT' 'KIND PRTN BAR 12CT'
 'PL CRUNCHY GRANOLA BAR 12CT' 'MCKEE SUNBELT BARS 15CT'
 'SK PASTRY CRISPS 18CT' 'GM NAT VLLY WS 12CT'
 'GM NAT VLLY PRTN CRUNCH 5CT' 'RKT POPPERS 5CT' 'SPECIAL K KETO BARS 5CT'
 'GM LARABAR 8CT' 'SPECIAL K PROTEIN BARS 8CT' 'GM FIBER ONE WS 10CT'
 'KIND GRANOLA 12CT' 'QKR CHEWY 18CT' 'QKR CEREAL TREAT BAR 1CT'
 'PL CEREAL BAR SFT BKS 1CT' 'GLUTINO BRKFST BAR 5CT'
 'HAPPY KID FRUIT AND OAT BAR 5CT' 'PERFECT KIDS 5CT' 'GM NAT VLLY WS 6CT'
 'GM PROTEIN ONE CAL 5CT' 'ENJOY LIFE SNCK BAR 5CT' 'QKR KIDS WG BAR 5CT'
 'GM NAT VLLY LYRD 5CT' 'ANNIES PROTEIN BARS 5CT' 'NTR PTH GRANOLA 5CT'
 'ANNIES CRISPY SNACK BARS 5CT' 'KIND KIDS 6CT' 'CLIF BUILDERS BAR 6CT'
 'PL CEREAL BAR SFT BKS 6CT' 'PILLSBURY SNACK BARS 6CT'
 'ATKINS ADV SNACK BAR 8CT' 'GM FIBER ONE PROTEIN 10CT'
 'GM RATIO KETO SNACK BAR 12CT' 'RKT SQUARES BIG BAR'
 'CLIF NUT BUTTER 12CT' 'QKR CHEWY 12CT' 'GM WS TREAT BARS 24CT'
 'RKT SQUARES CLUB PK 25CT' 'GM NAT VLLY WS 36CT' 'GM WS TREAT BARS 36CT'
 'GM NAT VLLY WS CLB SZ 48CT' 'RKT SQUARES MINI 52CT' 'CLIF MOJO BAR 1CT'
 'GM NAT VLLY SAVORY 5CT' 'KODIAK CHEWY GRANOLA BARS 5CT'
 'ATKINS SFT BKD BAR 5CT' 'KIND BREAKFAST 6CT' 'PERFECT BAR MINI 6CT'
 'QKR CEREAL TREAT BAR 8CT' 'CLIF BUILDERS BAR 10CT'
 'ANNIES GRANOLA BARS 12CT' 'PL TREAT MRSH BAR 12CT' 'CLIF THINS 14CT'
 'GM NAT VLLY WS 18CT' 'QUAKER OTG SNACK MIX 20CT'
 'RKT HOMESTYLE BARS 24CT' 'CLIF KIDS BAR 24CT' 'CLIF THINS 24CT'
 'QKR CHEWY DIPPS 24CT' 'QKR CHEWY MINI 28CT' 'NATURES BAKERY BAR 40CT'
 'RKT SQUARES MINI 50CT' 'RKT SQUARES CLUB PK 52CT'
 'RXBAR PROTEIN BAR 14CT' 'CLIF BASE BAR 18CT' 'PL CHEWY PROTEIN 10CT'
 'GM LARABAR 12CT' 'CLIF DUOS 14CT' 'PL CHEWY PROTEIN 30CT'
 'KODIAK GRAHAM BITES' 'SPECIAL K CEREAL BARS 12CT'
 'QKR KIDS WG BITES 5CT' 'HEALTH WARRIOR BAR 5CT'
 'NTR PTH LV CRN GRANOLA 6CT' 'GM NAT VLLY CHEWY PROTEIN 7CT'
 'RKT POPPERS 8CT' 'PL TREAT MRSH BAR 8CT' 'EPIC BAR 9CT'
 'CLIF LUNA MINI BAR 10CT' 'GM LARABAR 10CT' 'NUTRI-GRAIN BITES 10CT'
 'CLIF LUNA PROTEIN BAR 12CT' 'CLIF WHOLE LOTTA 12CT'
 'SPECIAL K PROTEIN BARS 12CT' 'CLIF LUNA BASE BAR 15CT'
 'RKT SQUARES MINI 28CT' 'GM FIBER ONE 30CT'
 'GM NAT VLLY PRTN CLB SZ 30CT' 'QKR CHEWY DIPPS 34CT'
 'SK PASTRY CRISPS 36CT' 'NUTRI-GRAIN CEREAL BARS CLB PK 36CT'
 'QKR CHEWY CLB SZ 48CT' 'RKT SQUARES MINI 60CT' 'RKT POPPERS M'
 "KELLOGG'S BITES VARIETY PACK 20CT" 'GM LARABAR 4CT' 'EPIC BAR 4CT'
 'GOMACRO BAR 4CT' 'KIND PRTN BAR 4CT' 'KIND PRSD FRT BAR 4CT'
 'CLIF NUT BUTTER 4CT' 'PL PROTEIN BAR 4CT' 'JIF GRNL BAR 5CT'
 'PURE ANCIENT GRAINS BARS 5CT' 'GOODNESSKNOWS 5CT' 'KIND NT BUTR BAR 6CT'
 'QKR CHEWY MINI DIPPS 12CT' 'GM NAT VLLY WS 24CT' 'CLIF DUOS 7CT'
 'CASCFRM GRANOLA BAR 8CT' 'PL SNACK BAR 8CT' 'ANNIES GRANOLA BARS 10CT'
 'GM PROTEIN ONE CAL 10CT' 'GM WS TREAT BARS 10CT'
 'CASCFRM GRANOLA BAR 10CT' 'KIND KIDS 10CT' 'QKR CHEWY DIPPS 10CT'
 'CLIF DUOS 12CT' 'PL CHEWY GRANOLA BAR 12CT' 'PL TOASTER PASTRY 12CT'
 'QKR CHEWY DIPPS 12CT' 'THINK THIN PTN BAR 15CT' 'GM NAT VLLY WS 15CT'
 'KIND GRANOLA 15CT' 'EARTHS BEST SNCK BAR 16CT'
 'PL SWEET AND SALTY NUT 18CT' 'GM LARABAR 20CT' 'CLIF KIDS BAR 20CT'
 'QKR CHEWY DIPPS 20CT' 'GM NAT VLLY PACKED 24CT' 'QKR CHEWY 24CT'
 'GM FIBER ONE WS 15CT' 'CLIF KIDS BAR CLB PK' 'RKT SQUARES MINI 40CT'
 'GM RATION KETO CHEWY BAR 4CT' 'GM LARABAR KID 6CT' 'GOMACRO BAR 8CT'
 'GM NAT VLLY SOFT BAKED 10CT' 'GM LARABAR MINIS 10CT'
 'ANNIES CRISPY SNACK BARS 12CT' 'GM NAT VLLY SOFT BAKED 12CT'
 'SK PASTRY CRISPS 5CT' 'RKT POPPERS 6CT' 'HEALTH WARRIOR BAR 6CT'
 'GOMACRO KIDS 7CT' 'SMASH MALLOW CRISPY RICE TRT 8CT'
 'GM NAT VLLY LYRD 10CT' 'RKT POPPERS 10CT' 'NATURES BAKERY BAR 10CT'
 'PL SNACK BAR 10CT' 'VEGA BAR 12CT' 'PL SWEET AND SALTY NUT 12CT'
 'RXBAR KIDS BAR 12CT' 'VEGA BAR CLB SZ' 'KIND PRTN BAR 14CT'
 'QKR CHEWY BIG 14CT' 'QUEST PROTEIN BAR 14CT' 'RXBAR KIDS BAR 16CT'
 'ANNIES LUNCHBOX FAV PK 18CT' 'GM NAT VLLY LYRD 18CT' 'KIND BAR 18CT'
 'CLIF BUILDERS BAR 18CT' 'PL SNACK BAR 18CT' 'PL WS FIBER BAR 18CT'
 'ATKINS ADV SNACK BAR 20CT' 'GM NAT VLLY WAFER 20CT'
 'RKT POPPERS CLUB PK' 'KIND KIDS 20CT' 'PL CHEWY GRANOLA BAR 20CT'
 'NUTRI-GRAIN BITES CLUB PK' 'RXBAR PROTEIN BAR 24CT' 'CLIF BASE BAR 24CT'
 'PL CEREAL BAR SFT BKS 24CT' 'NUTRI-GRAIN CEREAL BARS 24CT'
 'KIND GRANOLA 24CT' 'KIND NT BUTR BAR 24CT' 'PL CHEWY GRANOLA BAR 24CT'
 'GM NAT VLLY CHEWY PROTEIN 26CT' 'GM WS TREAT BARS 28CT'
 'GM WS TREAT BARS 30CT' 'KIND KIDS 30CT' 'QKR CHEWY DIPPS 30CT'
 'NUTRI-GRAIN CEREAL BARS 32CT' 'KIND MINIS 32CT'
 'PL CEREAL BAR SFT BKS 32CT' 'GM NAT VLLY SOFT BAKED 34CT'
 'KASHI CHEWY BARS CLUB PK' 'GM FIBER ONE 36CT' 'RKT SQUARES CLUB PK 36CT'
 'QKR CHEWY 36CT' 'GM WS TREAT BARS 40CT' 'QKR CHEWY CLB SZ 50CT'
 'NUTRI-GRAIN CEREAL BARS CLB PK 48CT' 'PL CHEWY GRANOLA BAR 48CT'
 'PL CEREAL BAR SFT BKS 48CT' 'KIND GRANOLA 50CT'
 'RKT SQUARES CLUB PK 54CT' 'QKR CHEWY CLB SZ 60CT'
 'SK PASTRY CRISPS CLUB PK' 'PL CHEWY GRANOLA BAR 60CT'
 'RKT SQUARES MINI 80CT' 'GM LARABAR MINIS 20CT' 'KIND THINS 20CT'
 'SPECIAL K BAG' 'NUTRI-GRAIN CRMB CK 5CT' 'GM NAT VLLY NUT SEED 10CT'
 'NUTRI-GRAIN FRUIT & NUT 5CT' 'CLIF LUNA KETO BAR 4CT'
 'GM RATIO KETO SNACK BAR 8CT' 'QKR CHEWY YGRT 10CT' 'QKR FRTY FUN 10CT'
 'PL WG BARS 12CT' 'PL CHEWY PROTEIN 15CT' 'GM FIBER ONE DESSERT BARS 6CT'
 'GM NAT VLLY WS 8CT' 'PL CEREAL BAR SFT BKS 6CT-8CT'
 'NUTRI-GRAIN GRANOLA BARS 5CT' 'KEL CEREAL BREAKFAST BAR 24CT'
 'POP-TARTS 48CT' 'QKR CHEWY MINI DIPPS 24CT' 'EPIC CRISPS'
 'GM NAT VLLY SNACK MIX 1CT' 'POP-TARTS PRETZEL SS'
 'PLUM ORG NUT BUTTER BARS 5CT' 'ANNIES TSTR PSTR 6CT' 'NTR PTH TP 6CT'
 'PL TOASTER PASTRY 6CT' 'POP-TARTS PRETZEL 8CT' 'KODIAK GRAHAM BITES 8CT'
 'GM NAT VLLY BKFT BSCT 10CT' 'POP-TARTS 16CT' 'POP-TARTS BITES 18CT'
 'POP-TARTS BITES 20CT' 'POP-TARTS BITES 28CT' 'POP-TARTS 36CT'
 'PL TOASTER PASTRY 36CT' 'GM NAT VLLY BKFT BSCT 1CT'
 'GM NAT VLLY CUP 1CT' 'GM NAT VLLY BKFT BSCT 5CT'
 'GM NAT VLLY SNACK MIX 5CT' 'GM NAT VLLY CUP 10CT'
 'TOASTEMS TSTR PSTRY 12CT' 'QUAKER OTG SNACK MIX 28CT'
 'GM NAT VLLY BKFT BSCT 30CT' 'GM FIBER ONE 40CT'
 'GM NAT VLLY SNACK MIX 10CT' 'POP-TARTS BITES CLUB PK' 'POP-TARTS 24CT'
 'POP-TARTS BITES OTG 6CT' 'TOASTEMS TSTR PSTRY 6CT'
 'POP-TARTS PRETZEL 12CT' 'POP-TARTS BITES 10CT'
 'GM NAT VLLY BACKPACKER 6CT' 'RKT SQUARES 36CT'
 'QKR CEREAL TREAT BAR 16CT' 'PL TREAT MRSH BAR 16CT'
 'PST PEBBLES TREATS 16CT' 'SMASH MALLOW CRISPY RICE TRT 16CT'
 'HEALTH WARRIOR BAR 18CT' 'PERFECT BAR 18CT' 'ATKINS ENDULGE BAR 22CT'
 'GM NAT VLLY WS VARIETY PK 20CT' 'NUTRI-GRAIN BITES 20CT'
 'SPECIAL K KETO BARS CLUB PK' 'CLIF LUNA MINI BAR 20CT' 'PL WG BARS 20CT'
 'PL SWEET AND SALTY NUT 24CT' 'PERFECT BAR 24CT' 'CLIF DUOS 26CT'
 'GM NAT VLLY SOFT BAKED 28CT' 'KIND THINS 28CT' 'QKR CHEWY YGRT 30CT'
 'QKR CEREAL TREAT BAR 30CT' 'NATURES BAKERY BAR 32CT'
 'GM WS MINI TREATS BARS 35CT' 'NUTRI-GRAIN CEREAL BARS CLB PK 42CT'
 'POP-TARTS 42CT' 'GM WS MINI TREATS BARS 53CT' 'GM WS TREAT BARS 53CT'
 'RKT SQUARES MINI 100CT' 'POP-TARTS CRISPS 1CT' 'KASHI CEREAL BARS 12CT'
 'GM NAT VLLY SOFT BAKED 20CT' 'NATURES BAKERY BAR 20CT'
 'GM FIBER ONE DESSERT BARS 10CT' 'RKT SQUARES 32CT'
 'SK PASTRY CRISPS 20CT' 'NTR PTH TP 12CT' 'PL TOASTER PASTRY 16CT'
 'GM NAT VLLY SNACK MIX 24CT' 'POP-TARTS PRETZEL CLUB PK'
 'GLUTINO TSTR PSTR 5CT' 'POP-TARTS PRETZEL 16CT' 'RKT SQUARES 3CT'
 'SK PASTRY CRISPS 24CT' 'PL TOASTER PASTRY 6CT-8CT'
 'SK PASTRY CRISPS 30CT' 'RKT SQUARES CLUB PK 40CT'
 'QKR CHEWY CLB SZ 34CT' 'PERFECT BAR 6CT' 'KIND SFT BKD SQRS 6CT'
 'CLIF BASE BAR 3CT' 'KODIAK SFT BKD BRKFST BAR 4CT' 'PL WG BAR 6CT'
 'KIND BREAKFAST 12CT' 'PL WG BARS 18CT' 'GM FAMILY FAV BOX 20CT'
 'GM LARABAR 30CT' 'RKT HOMESTYLE BARS 30CT' 'GM NAT VLLY WS 32CT'
 'CLIF KIDS BAR 36CT' 'NUTRI-GRAIN CEREAL BARS CLB PK 40CT'
 'QKR CHEWY FRITO LAY VP 20CT' 'GM NAT VLLY BKFT BSCT 20CT'
 'KASHI CRUNCHY BARS 5CT' 'KASHI KIDS BITES'
 'GM NAT VLLY CUPS CLB SZ 24CT' 'SPECIAL K PROTEIN BARS CLUB PK']

Unique values for 'Kel Size':
['NOT APPLICABLE']

Unique values for 'Kel Unit Of Measure':
['COUNT' 'OUNCE']

Unique values for 'Kel Vendor':
['APT HLTH LV CMP' 'BST MD CK CMP' 'AWKE CMP' 'BLTPRF CMP'
 'SQL NATRLS CMP' 'FWD FD CMP' 'GLANBA CMP' 'GMI CMP' 'GO MCRO CMP'
 'HRSHY CMP' 'IOVATE CMP' 'JM SMKR CMP' 'K CMP' 'K N&I CMP'
 '1440 FDS CMPNY CMP' 'ABOT LAB CMP' 'BALNC BAR CMP' 'SML PLANET CMP'
 'KIZE CNCPT CMP' 'LFSTYL EVOL CMP' 'KIND CMP' 'MNDLZ CMP' 'NO COW CMP'
 'ZNG BARS CMP' 'GTRADE CMP' 'KDK CMP' 'LEN & LRY CMP' 'MARS CMP'
 'NTR BKR CMP' 'MCKEE FD CMP' 'CYTO SPRT CMP' 'HLTH WRRR CMP'
 'PEPSI REM CMP' 'QKR CMP' 'PL CMP' 'POST CMP' 'PRFCT BAR CMP'
 'PRO BAR CMP' 'PRVN FDS CMP' 'PWR CRNCH CMP' 'REM CMP' 'SMPLY DEL CMP'
 'ATKNS CMP' 'WELLNSS FDS CMP' 'THE GD FAT CMP' 'THS BR SVS LVS CMP'
 'TRPCN REM CMP' 'BMBO CMP' 'CAVEMAN CMP' 'SCHFF NTRTN CMP'
 'SN MD GRWRS CA CMP' 'WORLDWD SPRTS NTRTN CMP' 'PWRBAR CMP'
 'TASTY BKNG CMP' 'JMY NTRL FD CMP' 'THAT IT NTRN CMP' 'THNDRBRD CMP'
 'HRML FD CMP' 'NSTL CMP' 'NXTFDS CMP' 'TAOS MTN ENGY CMP' 'LINK SNK CMP'
 'RVRSD NATRL FDS CMP' 'SQR ORGNCS CMP' 'VANS CMP' 'ANNIES CMP'
 'CMPBL REM CMP' 'ZEEZEES CMP' 'NTRS PTH CMP' 'PAM PROD CMP'
 'SCHLZ BRCH CMP' 'HN CLSTL CMP' 'PLLSBRY CMP' 'NB CMP' 'SBD FD CMP'
 'GLUTNO CMP' 'HAPPY FMLY CMP' 'SMPLY EGHT CMP' 'FRT-LAY CMP'
 'DV KLLR BRD CMP' 'ODAWLA CMP' 'SUN-RYPE PD CMP' 'KFR CMP' 'B&G FD CMP'
 'FBC CMP' 'PHRMVT CMP' 'EAS CMP' 'DANONE CMP' 'PRMTN N MTN CMP'
 'NRTHWST NTRTNL FDS CMP' 'ARBR INV CMP' 'DNX FD CMP' 'PCHN VNTRS CMP'
 'BCH-NT NTRTN CMP' 'NTVE AMER NTRL CMP' 'WLD ZORA CMP'
 'ORGNC VLLY FRMS CMP' 'THSND HLLS CTTL CMPN CMP' 'DOLE CMP'
 'COKE REM CMP' 'CNTRY ARCH CMP' 'QRTR SHR CMP' 'MARIANI PKG CMP'
 'SWEET CTTL CMP' 'BCK 2 NTR CMP' 'CONGRA CMP' 'SNYDR CMP'
 'TREE HS FD CMP']

Unique values for 'KEL_VENDOR_HIGH':
['APT HLTH LV CMP' 'BST MD CK CMP' 'AWKE CMP' 'BLTPRF CMP'
 'SQL NATRLS CMP' 'FWD FD CMP' 'GLANBA CMP' 'GMI CMP' 'GO MCRO CMP'
 'HRSHY CMP' 'IOVATE CMP' 'JM SMKR CMP' 'KNOVA CMP' '1440 FDS CMPNY CMP'
 'ABOT LAB CMP' 'BALNC BAR CMP' 'SML PLANET CMP' 'KIZE CNCPT CMP'
 'LFSTYL EVOL CMP' 'KIND CMP' 'MNDLZ CMP' 'NO COW CMP' 'ZNG BARS CMP'
 'GTRADE CMP' 'KDK CMP' 'LEN & LRY CMP' 'MARS CMP' 'NTR BKR CMP'
 'MCKEE FD CMP' 'CYTO SPRT CMP' 'HLTH WRRR CMP' 'PEPSI REM CMP' 'QKR CMP'
 'PL CMP' 'POST CMP' 'PRFCT BAR CMP' 'PRO BAR CMP' 'PRVN FDS CMP'
 'PWR CRNCH CMP' 'REM CMP' 'SMPLY DEL CMP' 'ATKNS CMP' 'WELLNSS FDS CMP'
 'THE GD FAT CMP' 'THS BR SVS LVS CMP' 'TRPCN REM CMP' 'BMBO CMP'
 'CAVEMAN CMP' 'SCHFF NTRTN CMP' 'SN MD GRWRS CA CMP'
 'WORLDWD SPRTS NTRTN CMP' 'PWRBAR CMP' 'TASTY BKNG CMP' 'JMY NTRL FD CMP'
 'THAT IT NTRN CMP' 'THNDRBRD CMP' 'HRML FD CMP' 'NSTL CMP' 'NXTFDS CMP'
 'TAOS MTN ENGY CMP' 'LINK SNK CMP' 'RVRSD NATRL FDS CMP' 'SQR ORGNCS CMP'
 'VANS CMP' 'ANNIES CMP' 'CMPBL REM CMP' 'ZEEZEES CMP' 'NTRS PTH CMP'
 'PAM PROD CMP' 'SCHLZ BRCH CMP' 'HN CLSTL CMP' 'PLLSBRY CMP' 'NB CMP'
 'SBD FD CMP' 'GLUTNO CMP' 'HAPPY FMLY CMP' 'SMPLY EGHT CMP' 'FRT-LAY CMP'
 'DV KLLR BRD CMP' 'ODAWLA CMP' 'SUN-RYPE PD CMP' 'KFR CMP' 'B&G FD CMP'
 'FBC CMP' 'PHRMVT CMP' 'EAS CMP' 'DANONE CMP' 'PRMTN N MTN CMP'
 'NRTHWST NTRTNL FDS CMP' 'ARBR INV CMP' 'DNX FD CMP' 'PCHN VNTRS CMP'
 'BCH-NT NTRTN CMP' 'NTVE AMER NTRL CMP' 'WLD ZORA CMP'
 'ORGNC VLLY FRMS CMP' 'THSND HLLS CTTL CMPN CMP' 'DOLE CMP'
 'COKE REM CMP' 'CNTRY ARCH CMP' 'QRTR SHR CMP' 'MARIANI PKG CMP'
 'SWEET CTTL CMP' 'BCK 2 NTR CMP' 'CONGRA CMP' 'SNYDR CMP'
 'TREE HS FD CMP']

Unique values for 'Market/Retailer':
['3 Total US Conv' 'ALBSCO Intermountain Div TA' 'AWG Memphis TA'
 'AWG Nashville TA' 'AWG Ok City/Dallas/Ft.Worth TA' '2 Total US Drug'
 'Big Y Total TA' 'Food Lion Total TA' 'Food Maxx Total TA'
 'Stater Bros Total TA' 'Tops Total TA' 'Walgreens Total TA'
 'AWG Kansas City TA' '1 Total US Food' '0 Total US xAOC'
 'ALBSCO Denver TA' 'ALBSCO Jewel Div TA' 'ALBSCO Portland TA'
 'ALBSCO So Cal Div TA' 'ALBSCO Southwest Div TA'
 'ALBSCO Total Company TA' 'ALBSCO United Div TA' 'AWG Nebraska TA'
 'Ahold Delhaize Corp Total TA' 'ALBSCO Eastern All Other TA'
 'ALBSCO Nor Cal Div TA' 'Giant Food Total TA' 'Hannaford Total TA'
 'SpartanNash Total Wholesale & Retail TA' 'The Giant Company Total TA'
 'ALBSCO Seattle Div TA' 'ALBSCO Shaws Div TA' 'ALBSCO Southern Div TA'
 'Brookshire Total TA' 'El Super Total TA' 'Fareway Total TA'
 'Giant Eagle Total TA' "Heinen's Total TA" 'Hy-Vee Total TA'
 'Lucky Total TA' 'Price Chopper Total TA' 'Publix Total TA'
 "Sam's Total TA" 'Save Mart Corp Total TA' 'ShopRite Total TA'
 'AWG Gulf Coast TA' 'AWG Springfield TA' 'Ahold USA Corp Total TA'
 'Bashas TA' 'CVS Total Corp WO HI TA' 'Coborns Cashwise Total Corp TA'
 'Cub Total TA' 'DeMoulas Total TA' 'Dol Gen Total TA'
 'Duane Reade Total TA' 'Family Dollar Total TA' 'Festival Foods Total TA'
 'Fiesta Total TA' 'KVAT Food City TA' 'Piggly Wiggly Midwest TA'
 'SpartanNash Total Wholesale TA' 'Total DeCA CONUS ex AK & HI TA'
 'Walgreens Corp Total TA' 'Wegmans Total TA' 'Weis Total TA'
 'Rite Aid - Corp Total TA' 'SpartanNash Total Retail TA'
 'Stop & Shop Total TA' 'Total DeCA OCONUS TA' 'Walmart Total US 2022 TA'
 'BJs Total TA' 'Schnucks Total TA' 'Shoppers Food Warehouse TA'
 'Target Total BM/FF TA' 'Meijer Total TA']

Unique values for 'Mrkt Desc':
['Total US Conv' 'ALBSCO Intermountain Div TA' 'AWG Memphis TA'
 'AWG Nashville TA' 'AWG Ok City/Dallas/Ft.Worth TA' 'Total US Drug'
 'Big Y Total TA' 'Food Lion Total TA' 'Food Maxx Total TA'
 'Stater Bros Total TA' 'Tops Total TA' 'Walgreens Total TA'
 'AWG Kansas City TA' 'Total US Food' 'Total US Conv Independents'
 'Total US xAOC' 'ALBSCO Denver TA' 'ALBSCO Jewel Div TA'
 'ALBSCO Portland TA' 'ALBSCO So Cal Div TA' 'ALBSCO Southwest Div TA'
 'ALBSCO Total Company TA' 'ALBSCO United Div TA' 'AWG Nebraska TA'
 'Ahold Delhaize Corp Total TA' 'ALBSCO Eastern All Other TA'
 'ALBSCO Nor Cal Div TA' 'Giant Food Total TA' 'Hannaford Total TA'
 'SpartanNash Total Wholesale & Retail TA' 'The Giant Company Total TA'
 'ALBSCO Seattle Div TA' 'ALBSCO Shaws Div TA' 'ALBSCO Southern Div TA'
 'Brookshire Total TA' 'El Super Total TA' 'Fareway Total TA'
 'Giant Eagle Total TA' "Heinen's Total TA" 'Hy-Vee Total TA'
 'Lucky Total TA' 'Price Chopper Total TA' 'Publix Total TA'
 "Sam's Total TA" 'Save Mart Corp Total TA' 'ShopRite Total TA'
 'AWG Gulf Coast TA' 'AWG Springfield TA' 'Ahold USA Corp Total TA'
 'Bashas TA' 'CVS Total Corp WO HI TA' 'Coborns Cashwise Total Corp TA'
 'Cub Total TA' 'DeMoulas Total TA' 'Dol Gen Total TA'
 'Duane Reade Total TA' 'Family Dollar Total TA' 'Festival Foods Total TA'
 'Fiesta Total TA' 'KVAT Food City TA' 'Piggly Wiggly Midwest TA'
 'SpartanNash Total Wholesale TA' 'Total DeCA CONUS ex AK & HI TA'
 'Walgreens Corp Total TA' 'Wegmans Total TA' 'Weis Total TA'
 'Rite Aid - Corp Total TA' 'SpartanNash Total Retail TA'
 'Stop & Shop Total TA' 'Total DeCA OCONUS TA' 'Walmart Total US 2022 TA'
 'BJs Total TA' 'Schnucks Total TA' 'Shoppers Food Warehouse TA'
 'Target Total BM/FF TA' 'Meijer Total TA']

Unique values for 'NmCount':
['01' '02' '03' '04' '05' '06' '08' '09' '10' '12' '15' '16' '18' '24'
 '48' '49' '72' 'DO' 'RE' '14' '20' '07' '60' '36' '32' '30' '19' '21'
 '40' '25' '22' '28' '50' '34' '54' '26' '35' '42' '80' '96' '27' '58'
 '70']

Unique values for 'PD_YR_dt_frmt':
['11/1/2020' '12/1/2020' '11/1/2022' '12/1/2021' '2/1/2021' '11/1/2021'
 '9/1/2022' '10/1/2022' '5/1/2022' '3/1/2022' '6/1/2022' '8/1/2022'
 '10/1/2021' '9/1/2021' '4/1/2021' '7/1/2022' '2/1/2022' '1/1/2021'
 '8/1/2021' '3/1/2021' '1/1/2022' '12/1/2022' '6/1/2021' '5/1/2021'
 '7/1/2021' '1/1/2023' '4/1/2022' '10/1/2023' '2/1/2023' '3/1/2023'
 '4/1/2023' '5/1/2023' '6/1/2023' '7/1/2023' '8/1/2023' '9/1/2023']

Unique values for 'PricePackCurveby':
['CurvebySize']

Unique values for 'Sales Chnl':
['Aggregate' 'Retail']

Unique values for 'Size or Count Color':
['NOT APPLICABLE']

Unique values for 'Sliding Time Window':
['Latest 10 PD 2 YAGO' 'Latest 12 PD' 'Latest 12 PD YAGO']

Unique values for 'Units_LBS':
['Brand Ladder by Unit']

Unique values for 'Vendor & Size':
['APT HLTH LV CMP NOT APPLICABLE' 'BST MD CK CMP NOT APPLICABLE'
 'AWKE CMP NOT APPLICABLE' 'BLTPRF CMP NOT APPLICABLE'
 'SQL NATRLS CMP NOT APPLICABLE' 'FWD FD CMP NOT APPLICABLE'
 'GLANBA CMP NOT APPLICABLE' 'GMI CMP NOT APPLICABLE'
 'GO MCRO CMP NOT APPLICABLE' 'HRSHY CMP NOT APPLICABLE'
 'IOVATE CMP NOT APPLICABLE' 'JM SMKR CMP NOT APPLICABLE'
 'K CMP NOT APPLICABLE' 'K N&I CMP NOT APPLICABLE'
 '1440 FDS CMPNY CMP NOT APPLICABLE' 'ABOT LAB CMP NOT APPLICABLE'
 'BALNC BAR CMP NOT APPLICABLE' 'SML PLANET CMP NOT APPLICABLE'
 'KIZE CNCPT CMP NOT APPLICABLE' 'LFSTYL EVOL CMP NOT APPLICABLE'
 'KIND CMP NOT APPLICABLE' 'MNDLZ CMP NOT APPLICABLE'
 'NO COW CMP NOT APPLICABLE' 'ZNG BARS CMP NOT APPLICABLE'
 'GTRADE CMP NOT APPLICABLE' 'KDK CMP NOT APPLICABLE'
 'LEN & LRY CMP NOT APPLICABLE' 'MARS CMP NOT APPLICABLE'
 'NTR BKR CMP NOT APPLICABLE' 'MCKEE FD CMP NOT APPLICABLE'
 'CYTO SPRT CMP NOT APPLICABLE' 'HLTH WRRR CMP NOT APPLICABLE'
 'PEPSI REM CMP NOT APPLICABLE' 'QKR CMP NOT APPLICABLE'
 'PL CMP NOT APPLICABLE' 'POST CMP NOT APPLICABLE'
 'PRFCT BAR CMP NOT APPLICABLE' 'PRO BAR CMP NOT APPLICABLE'
 'PRVN FDS CMP NOT APPLICABLE' 'PWR CRNCH CMP NOT APPLICABLE'
 'REM CMP NOT APPLICABLE' 'SMPLY DEL CMP NOT APPLICABLE'
 'ATKNS CMP NOT APPLICABLE' 'WELLNSS FDS CMP NOT APPLICABLE'
 'THE GD FAT CMP NOT APPLICABLE' 'THS BR SVS LVS CMP NOT APPLICABLE'
 'TRPCN REM CMP NOT APPLICABLE' 'BMBO CMP NOT APPLICABLE'
 'CAVEMAN CMP NOT APPLICABLE' 'SCHFF NTRTN CMP NOT APPLICABLE'
 'SN MD GRWRS CA CMP NOT APPLICABLE'
 'WORLDWD SPRTS NTRTN CMP NOT APPLICABLE' 'PWRBAR CMP NOT APPLICABLE'
 'TASTY BKNG CMP NOT APPLICABLE' 'JMY NTRL FD CMP NOT APPLICABLE'
 'THAT IT NTRN CMP NOT APPLICABLE' 'THNDRBRD CMP NOT APPLICABLE'
 'HRML FD CMP NOT APPLICABLE' 'NSTL CMP NOT APPLICABLE'
 'NXTFDS CMP NOT APPLICABLE' 'TAOS MTN ENGY CMP NOT APPLICABLE'
 'LINK SNK CMP NOT APPLICABLE' 'RVRSD NATRL FDS CMP NOT APPLICABLE'
 'SQR ORGNCS CMP NOT APPLICABLE' 'VANS CMP NOT APPLICABLE'
 'ANNIES CMP NOT APPLICABLE' 'CMPBL REM CMP NOT APPLICABLE'
 'ZEEZEES CMP NOT APPLICABLE' 'NTRS PTH CMP NOT APPLICABLE'
 'PAM PROD CMP NOT APPLICABLE' 'SCHLZ BRCH CMP NOT APPLICABLE'
 'HN CLSTL CMP NOT APPLICABLE' 'PLLSBRY CMP NOT APPLICABLE'
 'NB CMP NOT APPLICABLE' 'SBD FD CMP NOT APPLICABLE'
 'GLUTNO CMP NOT APPLICABLE' 'HAPPY FMLY CMP NOT APPLICABLE'
 'SMPLY EGHT CMP NOT APPLICABLE' 'FRT-LAY CMP NOT APPLICABLE'
 'DV KLLR BRD CMP NOT APPLICABLE' 'ODAWLA CMP NOT APPLICABLE'
 'SUN-RYPE PD CMP NOT APPLICABLE' 'KFR CMP NOT APPLICABLE'
 'B&G FD CMP NOT APPLICABLE' 'FBC CMP NOT APPLICABLE'
 'PHRMVT CMP NOT APPLICABLE' 'EAS CMP NOT APPLICABLE'
 'DANONE CMP NOT APPLICABLE' 'PRMTN N MTN CMP NOT APPLICABLE'
 'NRTHWST NTRTNL FDS CMP NOT APPLICABLE' 'ARBR INV CMP NOT APPLICABLE'
 'DNX FD CMP NOT APPLICABLE' 'PCHN VNTRS CMP NOT APPLICABLE'
 'BCH-NT NTRTN CMP NOT APPLICABLE' 'NTVE AMER NTRL CMP NOT APPLICABLE'
 'WLD ZORA CMP NOT APPLICABLE' 'ORGNC VLLY FRMS CMP NOT APPLICABLE'
 'THSND HLLS CTTL CMPN CMP NOT APPLICABLE' 'DOLE CMP NOT APPLICABLE'
 'COKE REM CMP NOT APPLICABLE' 'CNTRY ARCH CMP NOT APPLICABLE'
 'QRTR SHR CMP NOT APPLICABLE' 'MARIANI PKG CMP NOT APPLICABLE'
 'SWEET CTTL CMP NOT APPLICABLE' 'BCK 2 NTR CMP NOT APPLICABLE'
 'CONGRA CMP NOT APPLICABLE' 'SNYDR CMP NOT APPLICABLE'
 'TREE HS FD CMP NOT APPLICABLE']

Unique values for 'Vendor/Brand':
['PRLY LZBTH' 'BEST MAID COOKIE COMPANY' 'AWAKE' 'BULLETPROOF' 'VEGA'
 'DETOUR' 'OVRNGHT OATS BAR' 'BSN BR' 'ON BR' 'THNK' 'GM FBR 1' 'GM NV'
 'GM RATIO' 'GM TRT BARS' 'GO MCRO' 'HERSHEY' 'MUSCLETECH'
 'JM SMUCKER BR REM' 'KEL NG' 'KEL RKT' 'KNOVA SK' 'KNOVA BEAR NKD'
 'MET-RX' 'PURE PROTEIN' 'ZONE' 'BALANCE' 'EPC' 'LARABAR' 'OATMEGA'
 'ONE BR' 'RXBAR' 'KIZE' 'NUGO' 'KIND' 'CLIF' 'LUNA' 'NO COW' 'ZING'
 'GATORADE' 'KNOVA KSH' 'PR RGNC' 'KDK CAKES' "LENNY & LARRY'S"
 'MARS BR REM' 'NTRS BKR' 'MCKEE BR REM' 'SNBLT' 'CYTO SPORT MUSCLE MILK'
 'HLTH WRRR' 'PEPSICO BR REM' 'QKR BR REM' 'PRVT LBL' 'PST BR REM'
 'PST PBBLS TRTS' 'PRFCT BAR' 'PRO BAR' 'FIT CRUNCH' 'POWER CRUNCH'
 'REM BR' 'BOBOS' 'ATKNS' 'QST' 'LOVE GD FATS' 'THIS BAR SAVES LIVES'
 'TRPCN BR REM' 'MARINELA' 'CAVEMAN' 'SLIM FAST' 'CSCDN FRMS' 'QKR CWY'
 'QKR SFT BKD' 'TIGERS MILK' 'SN MD BR' 'POWERBAR' 'TASTYKAKE' 'JIMMYBAR'
 "THAT'S IT" 'THUNDERBIRD' 'HORMEL BR REM' 'JIF' 'KEL PT' 'GDNSS KNWS'
 'NESTLE HOLDINGS BR REM' 'GOOD BELLY' 'EVLV BR' 'TAOS MOUNTAIN'
 "JACK LINK'S" 'GRDN OF LF' 'GOOD TO GO' 'SIMPLY PROTEIN'
 'SQUARE ORGANICS' 'VANS' 'ANNIES' 'ENJY LIFE' 'GLUCERNA' 'MADE GOOD'
 'CAMPBELLS BR REM' 'PLUM' 'ZEEZEES' 'FOOD SHOULD TASTE GOOD' 'NTRS PTH'
 "GM AUTUMN'S GOLD" 'GM BR REM' 'PAMELAS' 'KEL TRT BARS' 'TOASTEM'
 'HEALTH VALLEY' 'S&B BR REM' 'EARTHS BST' 'THMS' 'PLLSBRY'
 'NABISCO BR BASE' 'SOUTH BEACH' 'QKR TRT BARS' 'GLUTNO' 'HAPPY KIDS'
 'GM PRTN 1' 'QKR KIDS ORGANIC' 'JUNKLESS' 'LTL DEB' 'GRANDMAS'
 'DV KLLR BRD' 'ODWALLA' 'SUNRYPE' 'BIMBO' 'GD MEASR' 'ENSURE'
 'KRAFT BR REM' 'KNOVA BR REM' 'BARBRAS' 'B&G FD BR REM' 'GATORBAR'
 'FBC BR' 'ENTENMANNS' 'SOY JOY' 'EAS' 'KEL FIB PLUS' 'DANNON' 'WELCHS'
 'ZBD BR' 'ARBOR INVESTMENTS BR REM' 'DNX' 'SIMPLY SNACKIN' 'BEECHNUT'
 'TANKA BAR' 'WILD ZORA' 'ORGANIC PRAIRIE' 'THOUSAND HILLS' 'DOLE'
 'COKE BR REM' 'COUNTRY ARCHER!' 'KRATOS' 'HAIN CELESTIAL BR REM'
 'MARIANI' 'B&G BR REM' 'SWEETWOOD CATTLE CO.' 'GO MCRO BR REM'
 'BCK 2 NTR BR REM' 'THE CLTRD SNCKNG C' 'NB 100 CAL' 'SIX STAR'
 'CONGRA BR REM' 'AMZNG GRSS' 'EMERALD' 'TREE HS BR REM' 'PRVN REM BR']

Unique values for 'X-axis Dimension ':
['ALL OTHER' 'VEGA BAR SS' 'THINK THIN PTN BAR 1CT' 'GM FIBER ONE WS 1CT'
 'GM NAT VLLY CHEWY PROTEIN 1CT' 'GM NAT VLLY WS 1CT'
 'GM RATIO KETO SNACK BAR 1CT' 'NOT APPLICABLE' 'GOMACRO BAR 1CT'
 'NUTRI-GRAIN BITES 1CT' 'RKT POPPERS SS' 'SPECIAL K BARS PREMIUM 1CT'
 'SPECIAL K PROTEIN BARS SS' 'EPIC BAR 1CT' 'GM LARABAR 1CT'
 'RKT SQUARES BIG BAR SS' 'RXBAR KIDS BAR 1CT' 'RXBAR PROTEIN BAR 1CT'
 'KIND BAR 1CT' 'KIND PRSD FRT BAR 1CT' 'KIND PRTN BAR 1CT'
 'CLIF BASE BAR 1CT' 'CLIF BUILDERS BAR 1CT' 'CLIF NUT BUTTER 1CT'
 'CLIF WHOLE LOTTA 1CT' 'CLIF WHY PRTN BAR 1CT'
 'CLIF LUNA ALL VARITS BAR 1CT' 'KASHI CHEWY BARS SS' 'KASHI GO BARS SS'
 'PURE ANCIENT GRAINS BARS SS' 'PURE FRUIT & NUT BARS SS'
 'KODIAK CRUNCHY GRANOLA BARS 1CT' 'KIND NT BUTR BAR 1CT'
 'NATURES BAKERY BAR 2CT' 'MCKEE SUNBELT BARS 1CT' 'PL SNACK BAR 1CT'
 'PERFECT BAR 1CT' 'PRO BAR 1CT' 'PL TREAT MRSH BAR 1CT'
 'QUEST PROTEIN BAR 4CT' 'THINK HIGH PTN BAR 5CT' 'THINK KIDS PTN BAR 5CT'
 'GM NAT VLLY CHEWY PROTEIN 5CT' 'CASCFRM GRANOLA 5CT-6CT' 'QKR CHEWY 5CT'
 'PL SNACK BAR 5CT' 'ATKINS ADV SNACK BAR 5CT' 'QUEST PROTEIN BAR 1CT'
 'GM WS TREAT BARS 1CT' 'NUTRI-GRAIN CEREAL BARS SS'
 'RKT SQUARES DUNKD SS' 'RKT SQUARES SS' 'CLIF KIDS BAR 1CT'
 'QKR CHEWY 1CT' 'GM NAT VLLY SOFT BAKED 6CT' 'SPECIAL K BARS PREMIUM 6CT'
 'NATURES BAKERY BAR 6CT' 'CLIF BASE BAR 6CT'
 'SMASH MALLOW CRISPY RICE TRT 6CT' 'KIND BREAKFAST 4CT'
 'MCKEE SUNBELT BARS 8-10CT' 'PST PEBBLES TREATS 8CT' 'PERFECT BAR 8CT'
 'THINK THIN PTN BAR 10CT' 'GM NAT VLLY CHEWY PROTEIN 10CT'
 'KIND GRANOLA 5CT' 'PL CHEWY GRANOLA BAR 10CT' 'GM WS TREAT BARS 12CT'
 'GOMACRO BAR 12-15CT' 'RKT SQUARES BIG BAR 12CT' 'RXBAR PROTEIN BAR 12CT'
 'KIND BAR 12CT' 'CLIF BASE BAR 12CT' 'CLIF BUILDERS BAR 12CT'
 'PL CRUNCHY GRANOLA BAR 6CT' 'QUEST PROTEIN BAR 12CT' 'GM LARABAR 16CT'
 'NATURES BAKERY BAR 24CT' 'GM NAT VLLY WS 98CT' 'RKT POPPERS S'
 'RKT SHEET' 'POP-TARTS SS' 'SPECIAL K CEREAL BARS SS'
 'BEAR NAKED NUT BUTTER BAR 1CT' 'GOODNESSKNOWS 1CT' 'SK PASTRY CRISPS SS'
 'KIND BREAKFAST 1CT' 'GM FIBER ONE WS 5CT' 'VANS BAR 5CT'
 'QKR BRKF BAR 5CT' 'QKR CHEWY YGRT 5CT' 'ATKINS ADV MEAL BAR 5CT'
 'ATKINS ENDULGE BAR 5CT' 'ANNIES GRANOLA BARS'
 'GM FIBER ONE DESSERT BRS 5-6CT' 'SPECIAL K CEREAL BARS 6CT'
 'SPECIAL K PROTEIN BARS 6CT' 'QKR CHEWY DIPPS 6CT'
 'PL CHEWY TRAIL MIX 6CT' 'PL SWEET AND SALTY NUT 6CT' 'RKT SQUARES 8CT'
 'BEAR NAKED NUT BUTTER BAR 8CT' 'CLIF WHY PRTN BAR 8CT'
 'PL CEREAL BAR SFT BKS 8CT' 'ATKINS ADV MEAL BAR 8CT'
 'QUEST PROTEIN BAR 10CT' 'SK PASTRY CRISPS 12CT' 'GM WS TREAT BARS 16CT'
 'RKT SQUARES 16CT' 'GM WS PROTEIN TREAT BARS 1CT'
 'GM NAT VLLY PACKED 4CT' 'GM RATIO KETO SNACK BAR 4CT'
 'KASHI GO BARS 4CT' 'THINK THIN PTN BAR 5CT' 'GM FIBER ONE PROTEIN 5CT'
 'GM NAT VLLY SOFT BAKED 5CT' 'GM NAT VLLY WAFER 5CT' 'GM LARABAR 5CT'
 'NUTRI-GRAIN BITES 5CT' 'SPECIAL K BARS PREMIUM 5CT' 'RXBAR KIDS BAR 5CT'
 'RXBAR PROTEIN BAR 5CT' 'KIND PRTN BAR 5CT' 'CLIF KIDS BAR 5-6CT'
 'CLIF WHY PRTN BAR 5CT' 'PL CHEWY GRANOLA BAR 5CT'
 'PL WS FIBER BAR 5-6CT' 'QUEST SNACK BAR 5CT' 'PLUM ORG JAMMY SAMMY 5CT'
 'GM RATIO KETO SNACK BAR 6CT' 'GM LARABAR 6CT' 'KASHI CEREAL BARS 6CT'
 'CLIF LUNA ALL VARITS BAR 6CT' 'GM WS TREAT BARS 8CT'
 'NUTRI-GRAIN CEREAL BARS 8CT' 'QKR CHEWY 8CT' 'PL CHEWY GRANOLA BAR 8CT'
 'QUEST PROTEIN BAR 8CT' 'GM NAT VLLY MINI 10CT' 'KASHI CRUNCHY BARS 6CT'
 'RXBAR PROTEIN BAR 10CT' 'KIND THINS 10CT' 'CLIF KIDS BAR 10-12CT'
 'ATKINS ENDULGE BAR 10CT' 'GM FIBER ONE DESSERT BARS 12CT'
 'RKT HOMESTYLE BARS 12CT' 'KIND BAR 15CT' 'GM NAT VLLY GRANOLA BITES'
 'POP-TARTS BITES 5CT' 'PL CHEWY PROTEIN 5CT' 'KIND CLUSTERS DIPPED'
 'CLIF KIDS BAR 15-18CT' 'KIND NT BUTR BAR 4CT' 'ENJOY LIFE PRTN BITES'
 'CLIF BASE BAR MINI 20CT' 'QKR CHEWY YGRT 14CT' 'PL TOASTER PASTRY 8CT'
 'KIND PRSD FRT BAR 12CT' 'PURE FRUIT & NUT BARS 5CT'
 'NATURES BAKERY BAR 18CT' 'GM NAT VLLY CUP 5CT' 'WHENEVER BARS 5CT'
 'KEL CEREAL BREAKFAST BAR 6CT' 'QKR CHEWY DIPPS 14CT'
 'KASHI LAYERED BARS 6CT' 'PL CEREAL BAR SFT BKS 16CT'
 'POP-TARTS BITES SS' 'RKT SQUARES MINI 64CT'
 'KODIAK CRUNCHY GRANOLA BARS 6CT' 'QKR CHEWY YGRT 1CT' 'EPIC BAR 12CT'
 'SK PASTRY CRISPS 60CT' 'CLIF KIDS FRUIT SNACKS 18CT'
 'KEL CEREAL BREAKFAST BAR 18CT' 'KASHI BITES 5CT' 'POP-TARTS SIMPLY 8CT'
 'TOASTEMS TSTR PSTRY 36CT' 'JIF PWR UPS 5CT' 'POP-TARTS 8CT'
 'POP-TARTS CRISPS 12CT' 'CLIF KIDS FRUIT SNACKS 6CT'
 'GM WS TREAT BARS 6CT' 'EARTHS BEST SNCK BAR 8CT'
 'GM NAT VLLY CHEWY PROTEIN 15CT' 'POP-TARTS 12CT'
 'CLIF KIDS FRUIT SNACKS 1CT' 'GM NAT VLLY PACKED 8CT'
 'ATKINS DAY BREAK BAR SQR 5CT' 'ANNIES RC TREAT BAR 5CT'
 'PERFECT BAR 4CT' 'CLIF BASE BAR MINI 10CT' 'GM NAT VLLY MINI 20CT'
 'QKR FRTY FUN 6CT' 'CLIF NUT BUTTER 5CT' 'POP-TARTS 32CT'
 'KIND MINIS 10CT' 'GM FIBER ONE DESSERT BARS 18CT' 'RKT SQUARES 60CT'
 'GM LARABAR 18CT' 'GM NAT VLLY WS 30CT' 'QKR BRK SQR 5CT'
 'RKT SQUARES MINI 19CT' 'KASHI CHEWY BARS 6CT' 'RKT SQUARES 14CT'
 'ATKINS ADV MEAL BAR 16CT' 'QUEST PROTEIN BAR MINIS 14CT'
 'NUTRI-GRAIN CEREAL BARS 16CT' 'PL CHEWY GRANOLA BAR 18CT'
 'GM WS TREAT BARS 20CT' 'KIND MINIS 20CT' 'QKR CHEWY YGRT 21CT'
 'QKR CHEWY 30CT' 'RKT SQUARES MINI 32CT' 'KEL CEREAL BREAKFAST BAR 36CT'
 'RKT SQUARES 40CT' 'CLIF DUOS 1CT' 'RXBAR PROTEIN BAR 4CT' 'KIND BAR 4CT'
 'KASHI CHEWY BARS 5CT' 'RKT HOMESTYLE BARS 6CT' 'KIND BAR 6CT'
 'GM WS PROTEIN TREAT BARS 8CT' 'RXBAR PROTEIN BAR 8CT'
 'THINK THIN PTN BAR 12CT' 'KIND PRTN BAR 12CT'
 'PL CRUNCHY GRANOLA BAR 12CT' 'MCKEE SUNBELT BARS 15CT'
 'SK PASTRY CRISPS 18CT' 'GM NAT VLLY WS 12CT'
 'GM NAT VLLY PRTN CRUNCH 5CT' 'RKT POPPERS 5CT' 'SPECIAL K KETO BARS 5CT'
 'GM LARABAR 8CT' 'SPECIAL K PROTEIN BARS 8CT' 'GM FIBER ONE WS 10CT'
 'KIND GRANOLA 12CT' 'QKR CHEWY 18CT' 'QKR CEREAL TREAT BAR 1CT'
 'PL CEREAL BAR SFT BKS 1CT' 'GLUTINO BRKFST BAR 5CT'
 'HAPPY KID FRUIT AND OAT BAR 5CT' 'PERFECT KIDS 5CT' 'GM NAT VLLY WS 6CT'
 'GM PROTEIN ONE CAL 5CT' 'ENJOY LIFE SNCK BAR 5CT' 'QKR KIDS WG BAR 5CT'
 'GM NAT VLLY LYRD 5CT' 'ANNIES PROTEIN BARS 5CT' 'NTR PTH GRANOLA 5CT'
 'ANNIES CRISPY SNACK BARS 5CT' 'KIND KIDS 6CT' 'CLIF BUILDERS BAR 6CT'
 'PL CEREAL BAR SFT BKS 6CT' 'PILLSBURY SNACK BARS 6CT'
 'ATKINS ADV SNACK BAR 8CT' 'GM FIBER ONE PROTEIN 10CT'
 'GM RATIO KETO SNACK BAR 12CT' 'RKT SQUARES BIG BAR'
 'CLIF NUT BUTTER 12CT' 'QKR CHEWY 12CT' 'GM WS TREAT BARS 24CT'
 'RKT SQUARES CLUB PK 25CT' 'GM NAT VLLY WS 36CT' 'GM WS TREAT BARS 36CT'
 'GM NAT VLLY WS CLB SZ 48CT' 'RKT SQUARES MINI 52CT' 'CLIF MOJO BAR 1CT'
 'GM NAT VLLY SAVORY 5CT' 'KODIAK CHEWY GRANOLA BARS 5CT'
 'ATKINS SFT BKD BAR 5CT' 'KIND BREAKFAST 6CT' 'PERFECT BAR MINI 6CT'
 'QKR CEREAL TREAT BAR 8CT' 'CLIF BUILDERS BAR 10CT'
 'ANNIES GRANOLA BARS 12CT' 'PL TREAT MRSH BAR 12CT' 'CLIF THINS 14CT'
 'GM NAT VLLY WS 18CT' 'QUAKER OTG SNACK MIX 20CT'
 'RKT HOMESTYLE BARS 24CT' 'CLIF KIDS BAR 24CT' 'CLIF THINS 24CT'
 'QKR CHEWY DIPPS 24CT' 'QKR CHEWY MINI 28CT' 'NATURES BAKERY BAR 40CT'
 'RKT SQUARES MINI 50CT' 'RKT SQUARES CLUB PK 52CT'
 'RXBAR PROTEIN BAR 14CT' 'CLIF BASE BAR 18CT' 'PL CHEWY PROTEIN 10CT'
 'GM LARABAR 12CT' 'CLIF DUOS 14CT' 'PL CHEWY PROTEIN 30CT'
 'KODIAK GRAHAM BITES' 'SPECIAL K CEREAL BARS 12CT'
 'QKR KIDS WG BITES 5CT' 'HEALTH WARRIOR BAR 5CT'
 'NTR PTH LV CRN GRANOLA 6CT' 'GM NAT VLLY CHEWY PROTEIN 7CT'
 'RKT POPPERS 8CT' 'PL TREAT MRSH BAR 8CT' 'EPIC BAR 9CT'
 'CLIF LUNA MINI BAR 10CT' 'GM LARABAR 10CT' 'NUTRI-GRAIN BITES 10CT'
 'CLIF LUNA PROTEIN BAR 12CT' 'CLIF WHOLE LOTTA 12CT'
 'SPECIAL K PROTEIN BARS 12CT' 'CLIF LUNA BASE BAR 15CT'
 'RKT SQUARES MINI 28CT' 'GM FIBER ONE 30CT'
 'GM NAT VLLY PRTN CLB SZ 30CT' 'QKR CHEWY DIPPS 34CT'
 'SK PASTRY CRISPS 36CT' 'NUTRI-GRAIN CEREAL BARS CLB PK 36CT'
 'QKR CHEWY CLB SZ 48CT' 'RKT SQUARES MINI 60CT' 'RKT POPPERS M'
 "KELLOGG'S BITES VARIETY PACK 20CT" 'GM LARABAR 4CT' 'EPIC BAR 4CT'
 'GOMACRO BAR 4CT' 'KIND PRTN BAR 4CT' 'KIND PRSD FRT BAR 4CT'
 'CLIF NUT BUTTER 4CT' 'PL PROTEIN BAR 4CT' 'JIF GRNL BAR 5CT'
 'PURE ANCIENT GRAINS BARS 5CT' 'GOODNESSKNOWS 5CT' 'KIND NT BUTR BAR 6CT'
 'QKR CHEWY MINI DIPPS 12CT' 'GM NAT VLLY WS 24CT' 'CLIF DUOS 7CT'
 'CASCFRM GRANOLA BAR 8CT' 'PL SNACK BAR 8CT' 'ANNIES GRANOLA BARS 10CT'
 'GM PROTEIN ONE CAL 10CT' 'GM WS TREAT BARS 10CT'
 'CASCFRM GRANOLA BAR 10CT' 'KIND KIDS 10CT' 'QKR CHEWY DIPPS 10CT'
 'CLIF DUOS 12CT' 'PL CHEWY GRANOLA BAR 12CT' 'PL TOASTER PASTRY 12CT'
 'QKR CHEWY DIPPS 12CT' 'THINK THIN PTN BAR 15CT' 'GM NAT VLLY WS 15CT'
 'KIND GRANOLA 15CT' 'EARTHS BEST SNCK BAR 16CT'
 'PL SWEET AND SALTY NUT 18CT' 'GM LARABAR 20CT' 'CLIF KIDS BAR 20CT'
 'QKR CHEWY DIPPS 20CT' 'GM NAT VLLY PACKED 24CT' 'QKR CHEWY 24CT'
 'GM FIBER ONE WS 15CT' 'CLIF KIDS BAR CLB PK' 'RKT SQUARES MINI 40CT'
 'GM RATION KETO CHEWY BAR 4CT' 'GM LARABAR KID 6CT' 'GOMACRO BAR 8CT'
 'GM NAT VLLY SOFT BAKED 10CT' 'GM LARABAR MINIS 10CT'
 'ANNIES CRISPY SNACK BARS 12CT' 'GM NAT VLLY SOFT BAKED 12CT'
 'SK PASTRY CRISPS 5CT' 'RKT POPPERS 6CT' 'HEALTH WARRIOR BAR 6CT'
 'GOMACRO KIDS 7CT' 'SMASH MALLOW CRISPY RICE TRT 8CT'
 'GM NAT VLLY LYRD 10CT' 'RKT POPPERS 10CT' 'NATURES BAKERY BAR 10CT'
 'PL SNACK BAR 10CT' 'VEGA BAR 12CT' 'PL SWEET AND SALTY NUT 12CT'
 'RXBAR KIDS BAR 12CT' 'VEGA BAR CLB SZ' 'KIND PRTN BAR 14CT'
 'QKR CHEWY BIG 14CT' 'QUEST PROTEIN BAR 14CT' 'RXBAR KIDS BAR 16CT'
 'ANNIES LUNCHBOX FAV PK 18CT' 'GM NAT VLLY LYRD 18CT' 'KIND BAR 18CT'
 'CLIF BUILDERS BAR 18CT' 'PL SNACK BAR 18CT' 'PL WS FIBER BAR 18CT'
 'ATKINS ADV SNACK BAR 20CT' 'GM NAT VLLY WAFER 20CT'
 'RKT POPPERS CLUB PK' 'KIND KIDS 20CT' 'PL CHEWY GRANOLA BAR 20CT'
 'NUTRI-GRAIN BITES CLUB PK' 'RXBAR PROTEIN BAR 24CT' 'CLIF BASE BAR 24CT'
 'PL CEREAL BAR SFT BKS 24CT' 'NUTRI-GRAIN CEREAL BARS 24CT'
 'KIND GRANOLA 24CT' 'KIND NT BUTR BAR 24CT' 'PL CHEWY GRANOLA BAR 24CT'
 'GM NAT VLLY CHEWY PROTEIN 26CT' 'GM WS TREAT BARS 28CT'
 'GM WS TREAT BARS 30CT' 'KIND KIDS 30CT' 'QKR CHEWY DIPPS 30CT'
 'NUTRI-GRAIN CEREAL BARS 32CT' 'KIND MINIS 32CT'
 'PL CEREAL BAR SFT BKS 32CT' 'GM NAT VLLY SOFT BAKED 34CT'

Unique values for '% Unit Non-Promoted':
['100%' '80%' '95%' '91%' '94%' '83%' '92%' '89%' '99%' '86%' '96%' '68%'
 '30%' nan '31%' '38%' '98%' '48%' '15%' '74%' '3%' '82%' '93%' '90%'
 '63%' '56%' '54%' '97%' '67%' '71%' '24%' '14%' '26%' '87%' '70%' '66%'
 '88%' '69%' '59%' '85%' '81%' '47%' '53%' '57%' '78%' '50%' '84%' '62%'
 '79%' '19%' '0%' '75%' '61%' '49%' '64%' '72%' '25%' '73%' '52%' '76%'
 '40%' '32%' '65%' '77%' '33%' '37%' '43%' '55%' '5%' '22%' '2%' '1%' '9%'
 '23%' '28%' '42%' '58%' '21%' '18%' '41%' '46%' '17%' '35%' '29%' '44%'
 '51%' '36%' '34%' '13%' '60%' '20%' '45%' '27%' '11%' '12%' '10%' '8%'
 '16%' '6%' '4%' '39%' '7%']

Unique values for '% Unit Promoted ':
['0%' '20%' '5%' '9%' '6%' '17%' '8%' '11%' '1%' '14%' '4%' '32%' '70%'
 nan '69%' '62%' '2%' '52%' '85%' '26%' '97%' '18%' '7%' '10%' '37%' '44%'
 '46%' '3%' '33%' '29%' '76%' '86%' '74%' '13%' '30%' '34%' '12%' '31%'
 '41%' '15%' '19%' '53%' '47%' '43%' '22%' '50%' '16%' '38%' '21%' '81%'
 '100%' '25%' '39%' '51%' '36%' '28%' '75%' '27%' '48%' '24%' '60%' '68%'
 '35%' '23%' '67%' '63%' '57%' '45%' '95%' '78%' '98%' '99%' '91%' '77%'
 '72%' '58%' '42%' '79%' '82%' '59%' '54%' '83%' '65%' '71%' '56%' '49%'
 '64%' '66%' '87%' '40%' '80%' '55%' '73%' '89%' '88%' '90%' '92%' '84%'
 '94%' '96%' '61%' '93%']

Unique values for 'avg price diff':
[nan '$0.264' '($0.097)' ... '$6.674' '$4.643' '$10.419']

Unique values for 'avg price/lbs diff':
[nan '$1.193' '($0.882)' ... '$9.191' '$16.205' '($21.204)']

Unique values for 'Avg, Price Chg':
[nan '9.3%' '-4.9%' ... '213.1%' '471.2%' '381.4%']

Unique values for 'Avg, Price/LBS Chg':
[nan '9.3%' '-4.9%' ... '436.7%' '644.5%' '815.0%']

Unique values for 'Avg. Price':
['$2.71' '$1.71' '$2.08' ... '$26.18' '$33.95' '$32.61']

Unique values for 'Avg. Price yago':
[nan '$2.83' '$1.97' ... '$33.72' '$33.95' '$34.18']

Unique values for 'Avg. Price/Cnt':
['$2.71' '$1.71' '$2.08' '$3.00' '$2.49' '$3.27' '$2.03' '$2.88' '$2.84'
 '$2.23' '$0.79' '$1.22' '$1.37' '$1.87' '$1.09' '$3.18' '$1.61' '$3.25'
 '$2.00' '$7.85' '$1.59' '$0.89' '$0.54' '$3.68' '$0.99' '$2.10' '$1.99'
 '$1.35' '$0.97' '$0.48' '$3.49' '$1.36' nan '$1.14' '$2.91' '$2.29'
 '$2.18' '$1.29' '$2.11' '$1.46' '$0.56' '$1.79' '$1.97' '$1.50' '$0.62'
 '$2.31' '$2.42' '$1.44' '$1.51' '$2.51' '$2.19' '$3.77' '$1.89' '$2.21'
 '$0.73' '$0.50' '$1.07' '$1.83' '$1.47' '$2.04' '$2.96' '$1.57' '$1.91'
 '$1.85' '$3.02' '$0.68' '$2.95' '$2.89' '$3.76' '$3.17' '$2.07' '$2.37'
 '$2.64' '$3.34' '$2.48' '$1.62' '$2.70' '$1.30' '$1.49' '$0.41' '$1.25'
 '$1.95' '$0.66' '$0.88' '$0.83' '$0.80' '$0.30' '$0.20' '$0.86' '$0.87'
 '$2.77' '$2.67' '$1.33' '$2.39' '$1.73' '$2.12' '$2.83' '$1.52' '$1.13'
 '$1.03' '$1.48' '$1.04' '$0.27' '$1.45' '$2.74' '$1.19' '$0.52' '$1.43'
 '$1.38' '$0.37' '$1.23' '$1.64' '$1.00' '$1.75' '$0.39' '$0.85' '$1.12'
 '$1.98' '$1.55' '$1.58' '$1.21' '$2.28' '$1.01' '$2.32' '$0.75' '$0.70'
 '$1.11' '$0.46' '$0.25' '$0.29' '$0.40' '$0.38' '$0.51' '$0.23' '$0.21'
 '$0.28' '$0.17' '$0.09' '$0.19' '$0.18' '$0.22' '$0.10' '$0.12' '$0.16'
 '$0.11' '$0.05' '$0.02' '$0.47' '$3.28' '$1.90' '$1.86' '$2.59' '$2.02'
 '$3.30' '$2.92' '$0.84' '$1.15' '$1.60' '$1.82' '$2.25' '$8.67' '$1.66'
 '$0.58' '$3.62' '$1.69' '$6.40' '$1.94' '$2.24' '$2.68' '$1.77' '$1.78'
 '$0.55' '$2.99' '$3.32' '$2.14' '$2.56' '$2.36' '$2.94' '$2.80' '$1.56'
 '$1.16' '$0.94' '$1.42' '$2.86' '$2.27' '$0.36' '$0.96' '$0.61' '$0.43'
 '$0.44' '$1.68' '$2.06' '$1.74' '$1.53' '$2.33' '$0.91' '$0.49' '$1.40'
 '$2.90' '$2.87' '$3.19' '$2.05' '$1.76' '$3.15' '$2.01' '$2.15' '$1.93'
 '$2.53' '$2.45' '$0.69' '$3.56' '$5.29' '$2.22' '$0.90' '$0.92' '$2.81'
 '$2.35' '$0.81' '$0.33' '$1.54' '$0.42' '$1.32' '$2.43' '$2.79' '$2.98'
 '$5.00' '$0.03' '$1.08' '$0.60' '$0.72' '$2.16' '$0.65' '$0.74' '$1.20'
 '$0.71' '$0.67' '$0.08' '$0.34' '$0.53' '$0.24' '$0.15' '$0.26' '$0.14'
 '$0.32' '$0.13' '$0.06' '$3.09' '$1.88' '$4.43' '$1.27' '$2.93' '$1.92'
 '$1.63' '$1.84' '$3.39' '$1.65' '$1.72' '$1.96' '$2.69' '$1.34' '$0.82'
 '$0.64' '$0.76' '$0.35' '$2.20' '$1.80' '$1.31' '$1.24' '$0.57' '$2.72'
 '$2.75' '$2.26' '$1.06' '$3.46' '$0.93' '$1.05' '$1.67' '$0.59' '$1.02'
 '$2.55' '$3.07' '$1.81' '$0.63' '$0.98' '$1.26' '$2.50' '$1.70' '$2.44'
 '$4.99' '$0.78' '$3.08' '$10.15' '$0.77' '$2.97' '$2.38' '$0.95' '$2.57'
 '$1.17' '$1.28' '$2.85' '$2.78' '$49.99' '$2.61' '$1.10' '$0.31' '$2.62'
 '$2.73' '$0.45' '$3.94' '$3.42' '$2.47' '$3.50' '$3.65' '$3.11' '$2.52'
 '$2.41' '$2.54' '$2.17' '$3.48' '$3.36' '$2.34' '$2.76' '$3.40' '$3.59'
 '$2.65' '$2.40' '$2.09' '$3.53' '$3.75' '$3.10' '$1.39' '$3.05' '$2.63'
 '$2.13' '$1.41' '$3.13' '$3.03' '$10.99' '$0.07' '$3.06' '$49.95' '$2.60'
 '$5.06' '$3.44' '$3.12' '$3.04' '$3.86' '$3.58' '$3.24' '$3.35' '$4.02'
 '$3.64' '$3.54' '$3.01' '$3.60' '$4.04' '$3.37' '$3.20' '$2.58' '$3.63'
 '$2.82' '$3.14' '$3.73' '$3.47' '$3.16' '$2.30' '$2.46' '$3.88' '$2.66'
 '$10.67' '$4.73' '$3.78' '$8.70' '$8.89' '$12.34' '$4.27' '$3.72' '$3.66'
 '$1.18' '$0.01' '$0.04' '$3.95' '$3.99' '$3.85' '$3.26' '$6.99' '$3.89'
 '$3.61' '$4.00' '$3.29' '$4.67' '$3.38' '$3.82' '$3.81' '$3.51' '$3.57'
 '$3.45' '$3.74' '$3.98' '$3.55' '$3.79' '$3.22' '$3.33' '$3.71' '$3.43'
 '$3.96' '$3.31' '$5.17' '$4.39' '$5.99' '$19.99' '$0.00' '$10.49' '$5.46'
 '$4.18' '$3.41' '$4.49' '$3.52' '$10.71' '$3.23' '$7.60' '$4.45' '$4.89'
 '$10.82' '$4.50' '$3.21' '$4.94' '$4.79' '$5.19' '$7.49' '$8.99' '$10.00'
 '$3.91' '$4.36' '$4.64' '$5.71' '$9.98' '$4.90' '$5.93' '$6.06' '$29.99'
 '$6.12' '$5.53' '$7.86' '$5.41' '$7.87' '$4.97' '$5.18' '$3.90' '$5.04'
 '$3.67' '$7.14' '$4.68' '$8.15' '$7.59' '$4.21' '$3.69' '$8.87' '$3.70'
 '$5.23' '$4.03' '$9.21' '$5.09' '$7.48' '$9.08' '$5.50' '$4.44' '$4.98'
 '$5.86' '$5.28' '$9.99' '$5.92' '$9.02' '$3.92' '$7.99' '$5.74' '$6.77'
 '$4.70' '$13.75' '$5.69' '$7.21' '$7.27' '$6.64' '$4.75' '$8.79' '$4.17'
 '$6.01' '$5.59' '$4.19' '$6.59' '$8.97' '$5.57' '$4.28' '$13.92' '$4.74'
 '$8.06' '$4.31' '$8.90' '$8.49' '$4.29' '$7.97' '$6.67' '$3.80' '$5.70'
 '$6.33' '$28.78' '$4.13' '$4.71' '$3.87' '$4.10' '$4.87' '$11.00' '$3.93'
 '$4.09' '$6.70' '$4.01' '$11.49' '$4.26' '$6.92' '$11.67' '$6.74' '$3.83'
 '$7.53' '$6.56' '$6.24' '$8.29' '$6.14' '$7.73' '$5.27' '$5.10' '$4.76'
 '$5.97' '$8.03' '$6.00' '$15.18' '$9.49' '$6.53' '$5.88' '$4.65' '$16.20'
 '$17.99' '$5.64' '$6.27' '$7.43' '$6.83' '$6.21' '$7.30' '$5.84' '$6.04'
 '$6.49' '$6.44' '$6.41' '$6.78' '$7.95' '$7.11' '$4.60' '$6.62' '$6.46'
 '$9.15' '$4.56' '$5.16' '$7.08' '$6.23' '$7.18' '$6.69' '$7.29' '$7.47'
 '$7.71' '$7.06' '$7.40' '$7.34' '$7.12' '$6.02' '$6.82' '$4.69' '$15.09'
 '$6.61' '$7.26' '$7.33' '$7.04' '$6.98' '$7.07' '$7.03' '$6.51' '$7.32'
 '$7.20' '$7.45' '$6.76' '$15.29' '$4.20' '$6.15' '$14.76' '$7.76' '$7.79'
 '$7.37' '$7.51' '$7.80' '$3.97' '$5.78' '$5.42' '$15.74' '$4.30' '$5.35'
 '$9.42' '$19.98' '$29.88' '$5.62' '$4.95' '$6.72' '$7.44' '$5.90' '$4.88'
 '$4.16' '$4.84' '$11.74' '$11.99' '$6.57' '$4.08' '$6.38' '$6.42' '$6.36'
 '$6.22' '$7.13' '$5.98' '$7.17' '$7.10' '$6.52' '$4.63' '$7.42' '$7.69'
 '$7.19' '$13.83' '$29.01' '$6.34' '$6.55' '$6.65' '$6.45' '$6.13' '$5.05'
 '$8.19' '$6.05' '$7.70' '$6.35' '$7.57' '$6.43' '$7.77' '$7.66' '$5.37'
 '$6.81' '$8.73' '$5.67' '$4.05' '$15.82' '$4.11' '$6.94' '$5.96' '$5.95'
 '$6.37' '$6.71' '$4.52' '$4.93' '$4.25' '$5.79' '$8.27' '$4.81' '$6.10'
 '$8.72' '$5.43' '$6.11' '$5.66' '$9.44' '$4.15' '$4.78' '$6.17' '$6.88'
 '$8.69' '$6.68' '$6.48' '$4.37' '$4.91' '$4.57' '$5.56' '$35.99' '$5.22'
 '$29.92' '$15.94' '$6.20' '$4.55' '$5.49' '$10.77' '$7.00' '$5.48'
 '$8.10' '$4.86' '$5.01' '$5.07' '$4.85' '$5.03' '$4.24' '$4.07' '$12.22'
 '$33.99' '$9.14' '$5.60' '$4.48' '$5.12' '$4.51' '$6.54' '$4.42' '$7.96'
 '$5.89' '$4.54' '$4.12' '$4.46' '$4.96' '$4.38' '$4.92' '$4.59' '$4.58'
 '$16.80' '$11.21' '$8.61' '$4.77' '$15.37' '$9.23' '$5.24' '$16.69'
 '$6.50' '$14.79' '$4.61' '$15.39' '$8.57' '$12.63' '$6.16' '$7.36'
 '$8.28' '$6.07' '$6.08' '$6.66' '$6.31' '$6.25' '$6.47' '$6.30' '$5.94'
 '$5.77' '$5.82' '$6.97' '$5.81' '$7.61' '$5.40' '$5.83' '$4.06' '$7.62'
 '$3.84' '$10.93' '$14.97' '$5.55' '$6.19' '$10.38' '$15.00' '$7.89'
 '$6.86' '$6.85' '$6.79' '$7.05' '$7.28' '$7.31' '$5.73' '$6.29' '$7.41'
 '$6.80' '$7.98' '$5.68' '$7.52' '$6.09' '$5.91' '$8.86' '$8.36' '$8.71'
 '$5.87' '$7.54' '$6.75' '$7.25' '$7.50' '$6.03' '$28.77' '$4.23' '$5.61'
 '$4.14' '$6.90' '$7.74' '$8.09' '$7.02' '$7.81' '$8.08' '$8.17' '$7.94'
 '$8.18' '$5.85' '$7.35' '$6.95' '$7.16' '$7.68' '$9.43' '$7.38' '$7.92'
 '$7.22' '$4.34' '$8.85' '$7.09' '$8.91' '$4.22' '$6.89' '$7.01' '$5.15'
 '$4.83' '$5.75' '$7.93' '$7.58' '$6.39' '$7.67' '$5.25' '$7.84' '$4.66'
 '$6.63' '$9.31' '$8.95' '$7.82' '$6.73' '$6.84' '$9.65' '$9.69' '$8.68'
 '$5.33' '$11.98' '$8.00' '$8.02' '$8.75' '$8.59' '$8.25' '$8.46' '$7.15'
 '$15.47' '$16.42' '$12.00' '$13.99' '$15.98' '$8.30' '$10.76' '$4.47'
 '$4.32' '$5.30' '$21.83' '$12.81' '$16.02' '$13.49' '$15.40' '$11.95'
 '$14.95' '$13.26' '$13.29' '$14.54' '$15.95' '$16.07' '$18.99' '$9.29'
 '$8.82' '$7.39' '$10.57' '$4.53' '$10.12' '$7.88' '$10.69' '$6.93'
 '$5.54' '$6.28' '$5.36' '$11.61' '$6.26' '$21.46' '$7.63' '$7.83' '$5.08'
 '$7.55' '$5.44' '$9.55' '$7.72' '$8.98' '$10.59' '$6.60' '$9.32' '$5.38'
 '$8.42' '$6.87' '$7.65' '$4.82' '$5.02' '$7.56' '$8.23' '$10.52' '$9.35'
 '$14.73' '$4.35' '$13.69' '$11.83' '$16.99' '$14.40' '$8.58' '$25.82'
 '$5.45' '$11.87' '$5.14' '$10.84' '$10.72' '$9.11' '$15.20' '$8.51'
 '$5.63' '$4.72' '$8.77' '$5.72' '$5.51' '$4.33' '$15.99' '$6.96' '$4.80'
 '$15.89' '$15.17' '$21.49' '$12.95' '$5.58' '$5.13' '$5.80' '$5.11'
 '$6.91']

Unique values for 'Avg. Price/LBS':
['$30.98' '$6.27' '$24.33' ... '$45.43' '$52.92' '$45.55']

Unique values for 'Avg. Price/LBS yago':
[nan '$12.87' '$17.95' ... '$43.83' '$49.04' '$45.18']

Unique values for 'Data Update Date':
['11/1/2020' '12/1/2020' '11/1/2022' '12/1/2021' '2/1/2021' '11/1/2021'
 '9/1/2022' '10/1/2022' '5/1/2022' '3/1/2022' '6/1/2022' '8/1/2022'
 '10/1/2021' '9/1/2021' '4/1/2021' '7/1/2022' '2/1/2022' '1/1/2021'
 '8/1/2021' '3/1/2021' '1/1/2022' '12/1/2022' '6/1/2021' '5/1/2021'
 '7/1/2021' '1/1/2023' '4/1/2022' '10/1/2023' '2/1/2023' '3/1/2023'
 '4/1/2023' '5/1/2023' '6/1/2023' '7/1/2023' '8/1/2023' '9/1/2023']

Unique values for 'Dol % Chg':
[nan '11%' '-5%' ... '45864%' '15351%' '12027%']

Unique values for 'Dol mm':
['$0.0M' '$0.6M' '$0.4M' '$0.1M' '$0.3M' '$3.1M' '$0.5M' '$1.5M' '$3.2M'
 '$1.1M' '$4.9M' '$0.2M' '$1.2M' '$2.6M' '$0.8M' '$3.9M' '$2.0M' '$4.3M'
 '$1.0M' '$0.7M' '$1.4M' '$5.9M' '$3.8M' '$5.4M' '$6.5M' '$2.9M' '$0.9M'
 '$1.7M' '$3.4M' '$1.3M' '$1.6M' '$3.5M' '$2.1M' '$2.8M' '$2.5M' '$2.7M'
 '$5.6M' '$2.2M' '$2.3M' '$4.4M' '$4.8M' '$4.2M' '$6.7M' '$1.8M' '$1.9M'
 '$3.6M' '$3.3M' '$3.0M' '$4.0M' '$6.1M' '$2.4M' '$12.9M' '$5.2M' '$4.7M'
 '$4.6M' '$7.0M' '$5.8M' '$5.7M' '$8.1M' '$5.5M' '$4.5M' '$14.0M' '$5.1M'
 '$6.8M' '$12.8M' '$3.7M' '$18.5M' '$6.3M' '$8.6M' '$5.3M' '$7.1M' '$6.6M'
 '$5.0M' '$6.2M' '$6.4M' '$4.1M' '$9.2M' '$7.4M' '$19.6M' '$7.8M' '$8.7M'
 '$7.5M' '$15.2M' '$7.3M' '$18.6M' '$6.0M' '$9.8M' '$7.2M' '$15.4M'
 '$15.6M' '$13.2M' '$14.4M' '$7.7M' '$8.9M' '$7.9M' '$11.7M' '$16.3M'
 '$11.5M' '$21.0M' '$14.2M' '$11.4M' '$18.1M' '$13.7M' '$14.8M' '$11.8M'
 '$16.2M' '$11.1M' '$21.5M' '$7.6M' '$10.1M' '$8.0M' '$6.9M' '$16.1M'
 '$22.6M' '$10.9M' '$8.5M' '$9.0M' '$22.1M' '$9.3M' '$10.0M' '$22.2M'
 '$9.6M' '$8.3M' '$9.4M' '$9.5M' '$8.2M' '$11.2M' '$9.7M' '$11.6M'
 '$15.1M' '$10.5M' '$13.4M' '$13.6M' '$16.0M' '$20.9M' '$17.6M' '$9.1M'
 '$12.7M' '$28.3M' '$10.7M' '$13.1M' '$10.3M' '$23.0M' '$8.4M' '$8.8M'
 '$12.4M' '$11.0M' '$24.2M' '$12.0M' '$11.9M' '$19.3M' '$13.3M' '$17.7M'
 '$10.8M' '$28.6M' '$11.3M' '$24.5M' '$19.1M' '$18.0M' '$21.3M' '$15.5M'
 '$17.9M' '$16.9M' '$21.8M' '$17.3M' '$26.9M' '$19.7M' '$20.7M' '$18.3M'
 '$17.0M' '$24.4M' '$18.8M' '$20.5M' '$20.8M' '$13.5M' '$23.1M' '$16.4M'
 '$15.8M' '$10.6M' '$28.2M' '$21.9M' '$9.9M' '$12.2M' '$22.8M' '$12.6M'
 '$15.0M' '$12.5M' '$22.4M' '$15.7M' '$29.4M' '$12.1M' '$10.4M' '$22.7M'
 '$23.3M' '$28.0M' '$13.9M' '$24.3M' '$19.5M' '$16.6M' '$28.1M' '$22.9M'
 '$19.9M' '$14.3M' '$12.3M' '$21.7M' '$16.7M' '$18.7M' '$14.7M' '$16.8M'
 '$20.6M' '$17.4M' '$15.9M' '$17.5M' '$27.3M' '$18.9M' '$23.2M' '$17.2M'
 '$26.8M' '$19.4M' '$14.9M' '$20.1M' '$17.1M' '$20.2M' '$19.2M' '$20.3M'
 '$14.5M' '$21.6M' '$24.8M' '$10.2M' '$20.4M' '$26.1M' '$13.0M' '$28.5M'
 '$14.6M' '$15.3M' '$16.5M' '$18.2M' '$14.1M' '$13.8M' '$19.8M' '$17.8M']

Unique values for 'Dollars/LBS':
['$30.98' '$6.27' '$24.33' ... '$45.43' '$52.92' '$45.55']

Unique values for 'Hideshowlabel':
['$2.71' '$1.71' '$2.08' ... '$26.18' '$33.95' '$32.61']

Unique values for 'Hideshowlabel_LBS':
['$30.98' '$6.27' '$24.33' ... '$45.43' '$52.92' '$45.55']

Unique values for 'LBS Chg yago %':
[nan '2%' '0%' ... '36698%' '12565%' '8117%']

Unique values for 'Non-Promo Price':
['$2.71' '$1.74' '$2.08' ... '$33.72' '$33.95' '$32.61']

Unique values for 'Non-Promo Price/LBS':
['$30.98' '$6.41' '$24.33' ... '$53.36' '$45.43' '$52.92']

Unique values for 'Price/Ct':
['$2.71' '$1.71' '$2.08' '$3.00' '$2.49' '$3.27' '$2.03' '$2.88' '$2.84'
 '$2.23' '$0.79' '$1.22' '$1.37' '$1.87' '$1.09' '$3.18' '$1.61' '$3.25'
 '$2.00' '$7.85' '$1.59' '$0.89' '$0.54' '$3.68' '$0.99' '$2.10' '$1.99'
 '$1.35' '$0.97' '$0.48' '$3.49' '$1.36' nan '$1.14' '$2.91' '$2.29'
 '$2.18' '$1.29' '$2.11' '$1.46' '$0.56' '$1.79' '$1.97' '$1.50' '$0.62'
 '$2.31' '$2.42' '$1.44' '$1.51' '$2.51' '$2.19' '$3.77' '$1.89' '$2.21'
 '$0.73' '$0.50' '$1.07' '$1.83' '$1.47' '$2.04' '$2.96' '$1.57' '$1.91'
 '$1.85' '$3.02' '$0.68' '$2.95' '$2.89' '$3.76' '$3.17' '$2.07' '$2.37'
 '$2.64' '$3.34' '$2.48' '$1.62' '$2.70' '$1.30' '$1.49' '$0.41' '$1.25'
 '$1.95' '$0.66' '$0.88' '$0.83' '$0.80' '$0.30' '$0.20' '$0.86' '$0.87'
 '$2.77' '$2.67' '$1.33' '$2.39' '$1.73' '$2.12' '$2.83' '$1.52' '$1.13'
 '$1.03' '$1.48' '$1.04' '$0.27' '$1.45' '$2.74' '$1.19' '$0.52' '$1.43'
 '$1.38' '$0.37' '$1.23' '$1.64' '$1.00' '$1.75' '$0.39' '$0.85' '$1.12'
 '$1.98' '$1.55' '$1.58' '$1.21' '$2.28' '$1.01' '$2.32' '$0.75' '$0.70'
 '$1.11' '$0.46' '$0.25' '$0.29' '$0.40' '$0.38' '$0.51' '$0.23' '$0.21'
 '$0.28' '$0.17' '$0.09' '$0.19' '$0.18' '$0.22' '$0.10' '$0.12' '$0.16'
 '$0.11' '$0.05' '$0.02' '$0.47' '$3.28' '$1.90' '$1.86' '$2.59' '$2.02'
 '$3.30' '$2.92' '$0.84' '$1.15' '$1.60' '$1.82' '$2.25' '$8.67' '$1.66'
 '$0.58' '$3.62' '$1.69' '$6.40' '$1.94' '$2.24' '$2.68' '$1.77' '$1.78'
 '$0.55' '$2.99' '$3.32' '$2.14' '$2.56' '$2.36' '$2.94' '$2.80' '$1.56'
 '$1.16' '$0.94' '$1.42' '$2.86' '$2.27' '$0.36' '$0.96' '$0.61' '$0.43'
 '$0.44' '$1.68' '$2.06' '$1.74' '$1.53' '$2.33' '$0.91' '$0.49' '$1.40'
 '$2.90' '$2.87' '$3.19' '$2.05' '$1.76' '$3.15' '$2.01' '$2.15' '$1.93'
 '$2.53' '$2.45' '$0.69' '$3.56' '$5.29' '$2.22' '$0.90' '$0.92' '$2.81'
 '$2.35' '$0.81' '$0.33' '$1.54' '$0.42' '$1.32' '$2.43' '$2.79' '$2.98'
 '$5.00' '$0.03' '$1.08' '$0.60' '$0.72' '$2.16' '$0.65' '$0.74' '$1.20'
 '$0.71' '$0.67' '$0.08' '$0.34' '$0.53' '$0.24' '$0.15' '$0.26' '$0.14'
 '$0.32' '$0.13' '$0.06' '$3.09' '$1.88' '$4.43' '$1.27' '$2.93' '$1.92'
 '$1.63' '$1.84' '$3.39' '$1.65' '$1.72' '$1.96' '$2.69' '$1.34' '$0.82'
 '$0.64' '$0.76' '$0.35' '$2.20' '$1.80' '$1.31' '$1.24' '$0.57' '$2.72'
 '$2.75' '$2.26' '$1.06' '$3.46' '$0.93' '$1.05' '$1.67' '$0.59' '$1.02'
 '$2.55' '$3.07' '$1.81' '$0.63' '$0.98' '$1.26' '$2.50' '$1.70' '$2.44'
 '$4.99' '$0.78' '$3.08' '$10.15' '$0.77' '$2.97' '$2.38' '$0.95' '$2.57'
 '$1.17' '$1.28' '$2.85' '$2.78' '$49.99' '$2.61' '$1.10' '$0.31' '$2.62'
 '$2.73' '$0.45' '$3.94' '$3.42' '$2.47' '$3.50' '$3.65' '$3.11' '$2.52'
 '$2.41' '$2.54' '$2.17' '$3.48' '$3.36' '$2.34' '$2.76' '$3.40' '$3.59'
 '$2.65' '$2.40' '$2.09' '$3.53' '$3.75' '$3.10' '$1.39' '$3.05' '$2.63'
 '$2.13' '$1.41' '$3.13' '$3.03' '$10.99' '$0.07' '$3.06' '$49.95' '$2.60'
 '$5.06' '$3.44' '$3.12' '$3.04' '$3.86' '$3.58' '$3.24' '$3.35' '$4.02'
 '$3.64' '$3.54' '$3.01' '$3.60' '$4.04' '$3.37' '$3.20' '$2.58' '$3.63'
 '$2.82' '$3.14' '$3.73' '$3.47' '$3.16' '$2.30' '$2.46' '$3.88' '$2.66'
 '$10.67' '$4.73' '$3.78' '$8.70' '$8.89' '$12.34' '$4.27' '$3.72' '$3.66'
 '$1.18' '$0.01' '$0.04' '$3.95' '$3.99' '$3.85' '$3.26' '$6.99' '$3.89'
 '$3.61' '$4.00' '$3.29' '$4.67' '$3.38' '$3.82' '$3.81' '$3.51' '$3.57'
 '$3.45' '$3.74' '$3.98' '$3.55' '$3.79' '$3.22' '$3.33' '$3.71' '$3.43'
 '$3.96' '$3.31' '$5.17' '$4.39' '$5.99' '$19.99' '$0.00' '$10.49' '$5.46'
 '$4.18' '$3.41' '$4.49' '$3.52' '$10.71' '$3.23' '$7.60' '$4.45' '$4.89'
 '$10.82' '$4.50' '$3.21' '$4.94' '$4.79' '$5.19' '$7.49' '$8.99' '$10.00'
 '$3.91' '$4.36' '$4.64' '$5.71' '$9.98' '$4.90' '$5.93' '$6.06' '$29.99'
 '$6.12' '$5.53' '$7.86' '$5.41' '$7.87' '$4.97' '$5.18' '$3.90' '$5.04'
 '$3.67' '$7.14' '$4.68' '$8.15' '$7.59' '$4.21' '$3.69' '$8.87' '$3.70'
 '$5.23' '$4.03' '$9.21' '$5.09' '$7.48' '$9.08' '$5.50' '$4.44' '$4.98'
 '$5.86' '$5.28' '$9.99' '$5.92' '$9.02' '$3.92' '$7.99' '$5.74' '$6.77'
 '$4.70' '$13.75' '$5.69' '$7.21' '$7.27' '$6.64' '$4.75' '$8.79' '$4.17'
 '$6.01' '$5.59' '$4.19' '$6.59' '$8.97' '$5.57' '$4.28' '$13.92' '$4.74'
 '$8.06' '$4.31' '$8.90' '$8.49' '$4.29' '$7.97' '$6.67' '$3.80' '$5.70'
 '$6.33' '$28.78' '$4.13' '$4.71' '$3.87' '$4.10' '$4.87' '$11.00' '$3.93'
 '$4.09' '$6.70' '$4.01' '$11.49' '$4.26' '$6.92' '$11.67' '$6.74' '$3.83'
 '$7.53' '$6.56' '$6.24' '$8.29' '$6.14' '$7.73' '$5.27' '$5.10' '$4.76'
 '$5.97' '$8.03' '$6.00' '$15.18' '$9.49' '$6.53' '$5.88' '$4.65' '$16.20'
 '$17.99' '$5.64' '$6.27' '$7.43' '$6.83' '$6.21' '$7.30' '$5.84' '$6.04'
 '$6.49' '$6.44' '$6.41' '$6.78' '$7.95' '$7.11' '$4.60' '$6.62' '$6.46'
 '$9.15' '$4.56' '$5.16' '$7.08' '$6.23' '$7.18' '$6.69' '$7.29' '$7.47'
 '$7.71' '$7.06' '$7.40' '$7.34' '$7.12' '$6.02' '$6.82' '$4.69' '$15.09'
 '$6.61' '$7.26' '$7.33' '$7.04' '$6.98' '$7.07' '$7.03' '$6.51' '$7.32'
 '$7.20' '$7.45' '$6.76' '$15.29' '$4.20' '$6.15' '$14.76' '$7.76' '$7.79'
 '$7.37' '$7.51' '$7.80' '$3.97' '$5.78' '$5.42' '$15.74' '$4.30' '$5.35'
 '$9.42' '$19.98' '$29.88' '$5.62' '$4.95' '$6.72' '$7.44' '$5.90' '$4.88'
 '$4.16' '$4.84' '$11.74' '$11.99' '$6.57' '$4.08' '$6.38' '$6.42' '$6.36'
 '$6.22' '$7.13' '$5.98' '$7.17' '$7.10' '$6.52' '$4.63' '$7.42' '$7.69'
 '$7.19' '$13.83' '$29.01' '$6.34' '$6.55' '$6.65' '$6.45' '$6.13' '$5.05'
 '$8.19' '$6.05' '$7.70' '$6.35' '$7.57' '$6.43' '$7.77' '$7.66' '$5.37'
 '$6.81' '$8.73' '$5.67' '$4.05' '$15.82' '$4.11' '$6.94' '$5.96' '$5.95'
 '$6.37' '$6.71' '$4.52' '$4.93' '$4.25' '$5.79' '$8.27' '$4.81' '$6.10'
 '$8.72' '$5.43' '$6.11' '$5.66' '$9.44' '$4.15' '$4.78' '$6.17' '$6.88'
 '$8.69' '$6.68' '$6.48' '$4.37' '$4.91' '$4.57' '$5.56' '$35.99' '$5.22'
 '$29.92' '$15.94' '$6.20' '$4.55' '$5.49' '$10.77' '$7.00' '$5.48'
 '$8.10' '$4.86' '$5.01' '$5.07' '$4.85' '$5.03' '$4.24' '$4.07' '$12.22'
 '$33.99' '$9.14' '$5.60' '$4.48' '$5.12' '$4.51' '$6.54' '$4.42' '$7.96'
 '$5.89' '$4.54' '$4.12' '$4.46' '$4.96' '$4.38' '$4.92' '$4.59' '$4.58'
 '$16.80' '$11.21' '$8.61' '$4.77' '$15.37' '$9.23' '$5.24' '$16.69'
 '$6.50' '$14.79' '$4.61' '$15.39' '$8.57' '$12.63' '$6.16' '$7.36'
 '$8.28' '$6.07' '$6.08' '$6.66' '$6.31' '$6.25' '$6.47' '$6.30' '$5.94'
 '$5.77' '$5.82' '$6.97' '$5.81' '$7.61' '$5.40' '$5.83' '$4.06' '$7.62'
 '$3.84' '$10.93' '$14.97' '$5.55' '$6.19' '$10.38' '$15.00' '$7.89'
 '$6.86' '$6.85' '$6.79' '$7.05' '$7.28' '$7.31' '$5.73' '$6.29' '$7.41'
 '$6.80' '$7.98' '$5.68' '$7.52' '$6.09' '$5.91' '$8.86' '$8.36' '$8.71'
 '$5.87' '$7.54' '$6.75' '$7.25' '$7.50' '$6.03' '$28.77' '$4.23' '$5.61'
 '$4.14' '$6.90' '$7.74' '$8.09' '$7.02' '$7.81' '$8.08' '$8.17' '$7.94'
 '$8.18' '$5.85' '$7.35' '$6.95' '$7.16' '$7.68' '$9.43' '$7.38' '$7.92'
 '$7.22' '$4.34' '$8.85' '$7.09' '$8.91' '$4.22' '$6.89' '$7.01' '$5.15'
 '$4.83' '$5.75' '$7.93' '$7.58' '$6.39' '$7.67' '$5.25' '$7.84' '$4.66'
 '$6.63' '$9.31' '$8.95' '$7.82' '$6.73' '$6.84' '$9.65' '$9.69' '$8.68'
 '$5.33' '$11.98' '$8.00' '$8.02' '$8.75' '$8.59' '$8.25' '$8.46' '$7.15'
 '$15.47' '$16.42' '$12.00' '$13.99' '$15.98' '$8.30' '$10.76' '$4.47'
 '$4.32' '$5.30' '$21.83' '$12.81' '$16.02' '$13.49' '$15.40' '$11.95'
 '$14.95' '$13.26' '$13.29' '$14.54' '$15.95' '$16.07' '$18.99' '$9.29'
 '$8.82' '$7.39' '$10.57' '$4.53' '$10.12' '$7.88' '$10.69' '$6.93'
 '$5.54' '$6.28' '$5.36' '$11.61' '$6.26' '$21.46' '$7.63' '$7.83' '$5.08'
 '$7.55' '$5.44' '$9.55' '$7.72' '$8.98' '$10.59' '$6.60' '$9.32' '$5.38'
 '$8.42' '$6.87' '$7.65' '$4.82' '$5.02' '$7.56' '$8.23' '$10.52' '$9.35'
 '$14.73' '$4.35' '$13.69' '$11.83' '$16.99' '$14.40' '$8.58' '$25.82'
 '$5.45' '$11.87' '$5.14' '$10.84' '$10.72' '$9.11' '$15.20' '$8.51'
 '$5.63' '$4.72' '$8.77' '$5.72' '$5.51' '$4.33' '$15.99' '$6.96' '$4.80'
 '$15.89' '$15.17' '$21.49' '$12.95' '$5.58' '$5.13' '$5.80' '$5.11'
 '$6.91']

Unique values for 'Promo Price':
[nan '$1.59' '$2.19' ... '$22.17' '$21.69' '$29.71']

Unique values for 'Promo Price yago':
[nan '$2.53' '$1.74' ... '$21.04' '$26.80' '$30.15']

Unique values for 'Promo Price/LBS':
[nan '$5.75' '$11.20' ... '$48.18' '$50.53' '$34.23']

Unique values for 'Units Chg yago % ':
[nan '2%' '0%' ... '12575%' '19215%' '8235%']

In [23]:
import pandas as pd
df_preview = EDT.iloc[:,:10]

# Display the DataFrame preview
df_preview

,12 Months selected,brand & size,Cntstr,Fisc Pd,Fisc Pd_int,Fisc Yr,Kel Brand,Kel Category,Kel Corporate,Kel Count
0,False,PRLY LZBTH NOT APPLICABLE,1.0,11,11,2020,PRLY LZBTH,PWS,APT HLTH LV CRP,01 CT
1,False,BEST MAID COOKIE COMPANY NOT APPLICABLE,1.0,11,11,2020,BEST MAID COOKIE COMPANY,PWS,ARBR INV CRP,01 CT
2,False,AWAKE NOT APPLICABLE,1.0,11,11,2020,AWAKE,PWS,AWKE CRP,01 CT
3,False,BULLETPROOF NOT APPLICABLE,1.0,11,11,2020,BULLETPROOF,PWS,BLTPRF CRP,01 CT
4,False,VEGA NOT APPLICABLE,1.0,11,11,2020,VEGA,PWS,DANONE CRP,01 CT
...,...,...,...,...,...,...,...,...,...,...
683728,False,KDK CAKES NOT APPLICABLE,NaN,9,9,2022,KDK CAKES,PWS,KDK CRP,REM COUNT
683729,False,KDK CAKES NOT APPLICABLE,NaN,9,9,2022,KDK CAKES,PWS,KDK CRP,REM COUNT
683730,False,REM BR NOT APPLICABLE,NaN,9,9,2022,REM BR,PWS,REM CRP,REM COUNT
683731,False,THAT'S IT NOT APPLICABLE,NaN,9,9,2022,THAT'S IT,PWS,THAT IT NTRN CRP,REM COUNT
683732,False,KDK CAKES NOT APPLICABLE,NaN,9,9,2022,KDK CAKES,PWS,KDK CRP,REM COUNT

In [24]:
import pandas as pd
df_preview = EDT.iloc[:,10:20]

# Display the DataFrame preview
df_preview

,Kel Otg,Kel Ppg,Kel Size,Kel Unit Of Measure,Kel Vendor,KEL_VENDOR_HIGH,Market/Retailer,Mrkt Desc,NmCount,PD_YR_dt_frmt
0,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,COUNT,APT HLTH LV CMP,APT HLTH LV CMP,3 Total US Conv,Total US Conv,01,11/1/2020
1,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,COUNT,BST MD CK CMP,BST MD CK CMP,3 Total US Conv,Total US Conv,01,11/1/2020
2,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,COUNT,AWKE CMP,AWKE CMP,3 Total US Conv,Total US Conv,01,11/1/2020
3,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,COUNT,BLTPRF CMP,BLTPRF CMP,3 Total US Conv,Total US Conv,01,11/1/2020
4,NOT APPLICABLE,VEGA BAR SS,NOT APPLICABLE,COUNT,SQL NATRLS CMP,SQL NATRLS CMP,3 Total US Conv,Total US Conv,01,11/1/2020
...,...,...,...,...,...,...,...,...,...,...
683728,NOT APPLICABLE,KODIAK GRAHAM BITES,NOT APPLICABLE,OUNCE,KDK CMP,KDK CMP,Giant Food Total TA,Giant Food Total TA,RE,9/1/2022
683729,NOT APPLICABLE,KODIAK GRAHAM BITES,NOT APPLICABLE,OUNCE,KDK CMP,KDK CMP,ShopRite Total TA,ShopRite Total TA,RE,9/1/2022
683730,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,OUNCE,REM CMP,REM CMP,ShopRite Total TA,ShopRite Total TA,RE,9/1/2022
683731,NOT APPLICABLE,ALL OTHER,NOT APPLICABLE,OUNCE,THAT IT NTRN CMP,THAT IT NTRN CMP,ShopRite Total TA,ShopRite Total TA,RE,9/1/2022
683732,NOT APPLICABLE,KODIAK GRAHAM BITES,NOT APPLICABLE,OUNCE,KDK CMP,KDK CMP,Walmart Total US 2022 TA,Walmart Total US 2022 TA,RE,9/1/2022

In [25]:
import pandas as pd
df_preview = EDT.iloc[:,20:30]

# Display the DataFrame preview
df_preview

,PricePackCurveby,Sales Chnl,Size or Count Color,Sliding Time Window,Units_LBS,Vendor & Size,Vendor/Brand,X-axis Dimension,YrPd,YYYYPP
0,CurvebySize,Aggregate,NOT APPLICABLE,Latest 10 PD 2 YAGO,Brand Ladder by Unit,APT HLTH LV CMP NOT APPLICABLE,PRLY LZBTH,ALL OTHER,2020/11,202011
1,CurvebySize,Aggregate,NOT APPLICABLE,Latest 10 PD 2 YAGO,Brand Ladder by Unit,BST MD CK CMP NOT APPLICABLE,BEST MAID COOKIE COMPANY,ALL OTHER,2020/11,202011
2,CurvebySize,Aggregate,NOT APPLICABLE,Latest 10 PD 2 YAGO,Brand Ladder by Unit,AWKE CMP NOT APPLICABLE,AWAKE,ALL OTHER,2020/11,202011
3,CurvebySize,Aggregate,NOT APPLICABLE,Latest 10 PD 2 YAGO,Brand Ladder by Unit,BLTPRF CMP NOT APPLICABLE,BULLETPROOF,ALL OTHER,2020/11,202011
4,CurvebySize,Aggregate,NOT APPLICABLE,Latest 10 PD 2 YAGO,Brand Ladder by Unit,SQL NATRLS CMP NOT APPLICABLE,VEGA,VEGA BAR SS,2020/11,202011
...,...,...,...,...,...,...,...,...,...,...
683728,CurvebySize,Retail,NOT APPLICABLE,Latest 12 PD YAGO,Brand Ladder by Unit,KDK CMP NOT APPLICABLE,KDK CAKES,KODIAK GRAHAM BITES,2022/9,202209
683729,CurvebySize,Retail,NOT APPLICABLE,Latest 12 PD YAGO,Brand Ladder by Unit,KDK CMP NOT APPLICABLE,KDK CAKES,KODIAK GRAHAM BITES,2022/9,202209
683730,CurvebySize,Retail,NOT APPLICABLE,Latest 12 PD YAGO,Brand Ladder by Unit,REM CMP NOT APPLICABLE,REM BR,ALL OTHER,2022/9,202209
683731,CurvebySize,Retail,NOT APPLICABLE,Latest 12 PD YAGO,Brand Ladder by Unit,THAT IT NTRN CMP NOT APPLICABLE,THAT'S IT,ALL OTHER,2022/9,202209
683732,CurvebySize,Retail,NOT APPLICABLE,Latest 12 PD YAGO,Brand Ladder by Unit,KDK CMP NOT APPLICABLE,KDK CAKES,KODIAK GRAHAM BITES,2022/9,202209

In [26]:
import pandas as pd
df_preview = EDT.iloc[:,30:40]

# Display the DataFrame preview
df_preview

,YYYYPP Parameter,% Unit Non-Promoted,% Unit Promoted,Avg Prc,avg price diff,avg price/lbs diff,"Avg, Price Chg","Avg, Price/LBS Chg",Avg. Price,Avg. Price yago
0,202202,100%,0%,5.83,NaN,NaN,NaN,NaN,$2.71,NaN
1,202202,80%,20%,5.83,NaN,NaN,NaN,NaN,$1.71,NaN
2,202202,100%,0%,5.83,NaN,NaN,NaN,NaN,$2.08,NaN
3,202202,100%,0%,5.83,NaN,NaN,NaN,NaN,$3.00,NaN
4,202202,100%,0%,5.83,NaN,NaN,NaN,NaN,$2.49,NaN
...,...,...,...,...,...,...,...,...,...,...
683728,202202,2%,98%,6.22,($0.217),($0.387),-5.0%,-5.0%,$4.15,$4.36
683729,202202,47%,53%,6.22,$1.257,$2.234,29.0%,29.0%,$5.59,$4.33
683730,202202,NaN,NaN,6.22,NaN,NaN,NaN,NaN,NaN,NaN
683731,202202,100%,0%,6.22,($0.055),$0.539,-3.7%,2.7%,$1.45,$1.51
683732,202202,100%,0%,6.22,$0.464,$0.825,10.3%,10.3%,$4.98,$4.51

In [27]:
import pandas as pd
df_preview = EDT.iloc[:,40:50]

# Display the DataFrame preview
df_preview

,Avg. Price/Cnt,Avg. Price/LBS,Avg. Price/LBS yago,Chg Yago Dol,Chg Yago Dol Ap,Chg Yago Dol Np,Chg Yago Lbs,Chg Yago Lbs Ap,Chg Yago Lbs Np,Chg Yago Units
0,$2.71,$30.98,NaN,2045.77,0.00,2045.77,66.04,0.00,66.04,754.69
1,$1.71,$6.27,NaN,631276.34,118797.31,512479.03,100658.19,20657.07,80001.12,369273.86
2,$2.08,$24.33,NaN,1432.80,0.00,1432.80,58.89,0.00,58.89,689.81
3,$3.00,$30.18,NaN,1160.54,0.00,1160.54,38.46,0.00,38.46,387.00
4,$2.49,$24.92,NaN,1509.56,0.00,1509.56,60.58,0.00,60.58,605.81
...,...,...,...,...,...,...,...,...,...,...
683728,NaN,$7.37,$7.76,-2273.97,3219.33,-5493.30,-200.82,423.36,-624.18,-357.00
683729,NaN,$9.93,$7.70,3735.33,-697.84,4433.17,-140.42,-438.95,298.53,-249.64
683730,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00
683731,NaN,$20.71,$20.18,-18.12,0.00,-18.12,-0.90,0.00,-0.90,-12.00
683732,NaN,$8.85,$8.02,128699.60,-462.73,129162.33,11968.31,-46.64,12014.96,21277.00

In [28]:
import pandas as pd
df_preview = EDT.iloc[:,50:60]

# Display the DataFrame preview
df_preview

,Chg Yago Units Ap,Chg Yago Units Np,CPI FOOD AT HOME INDEX,Data Update Date,Diff in Dol Yago,Difference in Promo Price from YAGO,DOL,Dol % Chg,Dol Ap,Dol mm
0,0.00,754.69,104.8,11/1/2020,2045.77,NaN,2045.77,NaN,0.00,$0.0M
1,74776.37,369273.86,104.8,11/1/2020,631276.34,NaN,631276.34,NaN,118797.31,$0.6M
2,0.00,689.81,104.8,11/1/2020,1432.80,NaN,1432.80,NaN,0.00,$0.0M
3,0.00,387.00,104.8,11/1/2020,1160.54,NaN,1160.54,NaN,0.00,$0.0M
4,0.00,605.81,104.8,11/1/2020,1509.56,NaN,1509.56,NaN,0.00,$0.0M
...,...,...,...,...,...,...,...,...,...,...
683728,752.64,2108.83,NaN,9/1/2022,-2273.97,0.049458,13656.10,-14%,13244.99,$0.0M
683729,-780.36,2565.95,NaN,9/1/2022,3735.33,1.197928,21409.94,21%,10616.69,$0.0M
683730,0.00,0.00,NaN,9/1/2022,0.00,NaN,0.00,NaN,0.00,$0.0M
683731,0.00,-12.00,NaN,9/1/2022,-18.12,NaN,1.45,-93%,0.00,$0.0M
683732,-82.92,21623.93,NaN,9/1/2022,128699.60,-0.506133,350588.26,58%,914.22,$0.4M

In [29]:
import pandas as pd
df_preview = EDT.iloc[:,60:70]

# Display the DataFrame preview
df_preview

,Dol Np,Dollars/LBS,Hideshowlabel,Hideshowlabel_LBS,Integer_NMCnt,LBS,Lbs Ap,LBS Chg yago %,Lbs Np,non-Promo Diff yago
0,2045.77,$30.98,$2.71,$30.98,1.0,66.04,0.00,NaN,66.04,NaN
1,512479.03,$6.27,$1.71,$6.27,1.0,100658.19,20657.07,NaN,80001.12,NaN
2,1432.80,$24.33,$2.08,$24.33,1.0,58.89,0.00,NaN,58.89,NaN
3,1160.54,$30.18,$3.00,$30.18,1.0,38.46,0.00,NaN,38.46,NaN
4,1509.56,$24.92,$2.49,$24.92,1.0,60.58,0.00,NaN,60.58,NaN
...,...,...,...,...,...,...,...,...,...,...
683728,411.11,$7.37,$4.15,$7.37,NaN,1852.88,1810.39,-10%,42.48,-0.461814
683729,10793.25,$9.93,$5.59,$9.93,NaN,2155.70,1144.82,-6%,1010.89,-0.983693
683730,0.00,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.00,NaN
683731,1.45,$20.71,$1.45,$20.71,NaN,0.07,0.00,-93%,0.07,0.055385
683732,349674.04,$8.85,$4.98,$8.85,NaN,39625.88,148.51,43%,39477.37,-0.465750

In [30]:
import pandas as pd
df_preview = EDT.iloc[:,70:80]

# Display the DataFrame preview
df_preview

,Non-Promo Price,Non-Promo Price yago,Non-Promo Price/LBS,NumCnt,Prc Per Pkg,Price/Ct,Promo Price,Promo Price yago,Promo Price/LBS,slidingtimewindow_sort
0,$2.71,NaN,$30.98,1.0,2.71,$2.71,NaN,NaN,NaN,3
1,$1.74,NaN,$6.41,1.0,1.71,$1.71,$1.59,NaN,$5.75,3
2,$2.08,NaN,$24.33,1.0,2.08,$2.08,NaN,NaN,NaN,3
3,$3.00,NaN,$30.18,1.0,3.00,$3.00,NaN,NaN,NaN,3
4,$2.49,NaN,$24.92,1.0,2.49,$2.49,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...
683728,$5.44,4.981910,$9.68,NaN,0.00,NaN,$4.12,$4.07,$7.32,2
683729,$6.01,5.022133,$10.68,NaN,0.00,NaN,$5.22,$4.02,$9.27,2
683730,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,2
683731,$1.45,1.505385,$20.71,NaN,0.00,NaN,NaN,NaN,NaN,2
683732,$4.98,4.516640,$8.86,NaN,0.00,NaN,$3.46,$3.97,$6.16,2

In [31]:
import pandas as pd
df_preview = EDT.iloc[:,80:90]

# Display the DataFrame preview
df_preview

,Std Dev,TotalCnt,Totl Dol Catg,ttl_ct,Units,Units Ap,Units Chg yago %,Units Np,UnitsNpNULLx,UnitsNpx
0,3.64,754.69,7.041907e+08,754.69,754.69,0.00,NaN,754.69,0,NaN
1,3.64,369273.86,7.041907e+08,369273.86,369273.86,74776.37,NaN,294497.49,0,NaN
2,3.64,689.81,7.041907e+08,689.81,689.81,0.00,NaN,689.81,0,NaN
3,3.64,387.00,7.041907e+08,387.00,387.00,0.00,NaN,387.00,0,NaN
4,3.64,605.81,7.041907e+08,605.81,605.81,0.00,NaN,605.81,0,NaN
...,...,...,...,...,...,...,...,...,...,...
683728,4.17,NaN,4.036666e+07,NaN,3294.00,3218.48,-10%,75.52,0,NaN
683729,4.17,NaN,1.035775e+08,NaN,3832.36,2035.23,-6%,1797.13,0,NaN
683730,4.17,NaN,1.035775e+08,NaN,0.00,0.00,NaN,0.00,0,NaN
683731,4.17,NaN,1.035775e+08,NaN,1.00,0.00,-92%,1.00,0,NaN
683732,4.17,NaN,2.097344e+09,NaN,70446.00,264.01,43%,70181.99,0,NaN

In [32]:
import pandas as pd
df_preview = EDT.iloc[:,90:100]

# Display the DataFrame preview
df_preview

,Yago Dol,Yago Dol Ap,Yago Dol Np,Yago Lbs,Yago Lbs Ap,Yago Lbs Np,Yago Units,Yago Units Ap,Yago Units Np
0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
1,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
2,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...
683728,15930.07,10025.66,5904.41,2053.69,1387.03,666.66,3651.0,2465.83,1185.17
683729,17674.61,11314.53,6360.08,2296.13,1583.77,712.36,4082.0,2815.59,1266.41
683730,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00
683731,19.57,0.00,19.57,0.97,0.00,0.97,13.0,0.00,13.00
683732,221888.66,1376.95,220511.71,27657.57,195.15,27462.41,49169.0,346.93,48822.07

In [33]:
EDT.describe()

,Cntstr,Fisc Pd,Fisc Pd_int,Fisc Yr,YYYYPP,YYYYPP Parameter,Avg Prc,Chg Yago Dol,Chg Yago Dol Ap,Chg Yago Dol Np,Chg Yago Lbs,Chg Yago Lbs Ap,Chg Yago Lbs Np,Chg Yago Units,Chg Yago Units Ap,Chg Yago Units Np,CPI FOOD AT HOME INDEX,Diff in Dol Yago,Difference in Promo Price from YAGO,DOL,Dol Ap,Dol Np,Integer_NMCnt,LBS,Lbs Ap,Lbs Np,non-Promo Diff yago,Non-Promo Price yago,NumCnt,Prc Per Pkg,slidingtimewindow_sort,Std Dev,TotalCnt,Totl Dol Catg,ttl_ct,Units,Units Ap,Units Np,UnitsNpNULLx,UnitsNpx,Yago Dol,Yago Dol Ap,Yago Dol Np,Yago Lbs,Yago Lbs Ap,Yago Lbs Np,Yago Units,Yago Units Ap,Yago Units Np
count,662678.000000,683733.000000,683733.000000,683733.000000,683733.000000,683733.0,683733.000000,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,275521.000000,6.837330e+05,256817.000000,6.837330e+05,6.837330e+05,6.837330e+05,662678.000000,6.837330e+05,6.837330e+05,6.837330e+05,424577.000000,522750.000000,662678.000000,649334.000000,683733.000000,683733.000000,6.626780e+05,6.837330e+05,6.626780e+05,6.837330e+05,6.837330e+05,6.837330e+05,683733.0,0.0,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05,6.837330e+05
mean,7.466797,6.421058,6.421058,2021.812848,202187.705857,202202.0,6.170932,9.155331e+03,2.599613e+03,6.553385e+03,4.588137e+02,2.205188e+02,2.382182e+02,2.493007e+02,-1.053537e+02,7.973887e+03,107.870632,9.155331e+03,0.256190,8.479937e+04,2.473102e+04,6.003686e+04,7.466797,1.304339e+04,4.359261e+03,8.677992e+03,-0.244079,5.128871,7.466797,45.092344,2.026763,4.098465,1.623433e+05,6.759777e+08,1.623433e+05,2.219746e+04,7.607401e+03,1.457831e+04,0.0,NaN,7.564404e+04,2.213141e+04,5.348347e+04,1.258457e+04,4.138742e+03,8.439773e+03,2.194816e+04,7.712755e+03,1.422357e+04
std,7.454735,3.452167,3.452167,0.884021,87.622896,0.0,0.578800,1.724017e+05,1.104421e+05,1.500112e+05,4.334452e+04,3.381887e+04,3.892419e+04,5.793801e+04,3.855519e+04,8.760317e+04,1.148232,1.724017e+05,1.262638,5.514169e+05,2.207091e+05,3.742126e+05,7.454735,1.370418e+05,6.025478e+04,8.867871e+04,1.430403,4.559062,7.454735,85.759622,0.815068,0.355252,1.489912e+06,1.713903e+09,1.489912e+06,1.739340e+05,8.073860e+04,1.075263e+05,0.0,NaN,5.164199e+05,2.043486e+05,3.523988e+05,1.389772e+05,5.861365e+04,9.366245e+04,1.808158e+05,8.570965e+04,1.099260e+05
min,1.000000,1.000000,1.000000,2020.000000,202011.000000,202202.0,5.300000,-1.086263e+07,-8.886025e+06,-9.114536e+06,-3.010428e+06,-4.121849e+06,-4.199804e+06,-3.646405e+06,-4.550647e+06,-1.434417e+06,104.800000,-1.086263e+07,-50.727414,-6.700000e+00,0.000000e+00,-6.700000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,-107.300000,0.000000,1.000000,0.000000,1.000000,3.620000,0.000000e+00,1.270309e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,-6.700000e+00,0.000000e+00,-6.700000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000,3.000000,3.000000,2021.000000,202107.000000,202202.0,5.520000,-7.899200e+02,-1.540900e+02,-6.875900e+02,-1.211200e+02,-2.103000e+01,-8.772000e+01,-3.230000e+02,-5.750000e+01,-3.067000e+01,108.300000,-7.899200e+02,-0.122653,9.810000e+00,0.000000e+00,6.000000e+00,2.000000,9.700000e-01,0.000000e+00,6.200000e-01,-0.536528,2.381324,2.000000,1.500000,1.000000,3.720000,1.200000e+01,1.397024e+07,1.200000e+01,3.000000e+00,0.000000e+00,2.000000e+00,0.0,NaN,4.990000e+00,0.000000e+00,2.980000e+00,4.900000e-01,0.000000e+00,3.000000e-01,2.000000e+00,0.000000e+00,1.000000e+00
50%,6.000000,6.000000,6.000000,2022.000000,202204.000000,202202.0,6.220000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,108.300000,0.000000e+00,0.171966,1.898680e+03,2.196000e+01,1.117620e+03,6.000000,1.704500e+02,2.140000e+00,9.666000e+01,-0.141573,3.792258,6.000000,18.860000,2.000000,4.170000,2.219000e+03,4.461703e+07,2.219000e+03,4.380000e+02,6.190000e+00,2.550000e+02,0.0,NaN,1.418720e+03,0.000000e+00,8.305400e+02,1.335600e+02,0.000000e+00,7.514000e+01,3.640000e+02,0.000000e+00,2.119700e+02
75%,10.000000,9.000000,9.000000,2023.000000,202301.000000,202202.0,6.750000,1.719610e+03,2.935000e+02,1.375620e+03,1.174400e+02,2.454000e+01,9.242000e+01,2.816800e+02,6.013000e+01,1.150000e+03,108.300000,1.719610e+03,0.601778,1.622167e+04,2.666270e+03,1.042740e+04,10.000000,1.644810e+03,2.896600e+02,9.925300e+02,0.021766,6.277855,10.000000,42.010000,3.000000,4.590000,2.100139e+04,2.151297e+08,2.100139e+04,3.852000e+03,7.043800e+02,2.316110e+03,0.0,NaN,1.362175e+04,2.173020e+03,8.671500e+03,1.466100e+03,2.524600e+02,8.723500e+02,3.552870e+03,6.363800e+02,2.123220e+03
max,96.000000,12.000000,12.000000,2023.000000,202310.000000,202202.0,7.520000,2.260386e+07,1.107544e+07,1.781426e+07,8.385610e+06,5.139549e+06,8.219470e+06,9.491436e+06,4.742051e+06,9.491436e+06,108.300000,2.260386e+07,41.401762,2.942993e+07,1.915484e+07,1.910591e+07,96.000000,9.476403e+06,5.183022e+06,8.219470e+06,48.957729,109.990000,96.000000,2522.880000,3.000000,4.590000,8.985032e+07,7.612957e+09,8.985032e+07,1.121714e+07,6.709527e+06,5.772714e+06,0.0,NaN,3.564191e+07,1.854020e+07,1.932325e+07,1.119432e+07,5.708138e+06,8.909340e+06,1.313095e+07,7.527521e+06,6.438804e+06

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

EDT=pd.read_csv("EDT_3P (KG_HADOOP) Prod_EDT_3P.csv")

In [36]:
EDT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683733 entries, 0 to 683732
Data columns (total 99 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   12 Months selected                   683733 non-null  bool
 1   brand & size                         683733 non-null  object
 2   Cntstr                               662678 non-null  float64
 3   Fisc Pd                              683733 non-null  int64
 4   Fisc Pd_int                          683733 non-null  int64
 5   Fisc Yr                              683733 non-null  int64
 6   Kel Brand                            683733 non-null  object
 7   Kel Category                         683733 non-null  object
 8   Kel Corporate                        683733 non-null  object
 9   Kel Count                            683733 non-null  object
 10  Kel Otg                              683733 non-null  object
 11  Kel Ppg                              683733 non-null  object
 12  Kel Size                             683733 non-null  object
 13  Kel Unit Of Measure                  683733 non-null  object
 14  Kel Vendor                           683733 non-null  object
 15  KEL_VENDOR_HIGH                      683733 non-null  object
 16  Market/Retailer                      683733 non-null  object
 17  Mrkt Desc                            683733 non-null  object
 18  NmCount                              683733 non-null  object
 19  PD_YR_dt_frmt                        683733 non-null  object
 20  PricePackCurveby                     683733 non-null  object
 21  Sales Chnl                           683733 non-null  object
 22  Size or Count Color                  683733 non-null  object
 23  Sliding Time Window                  683733 non-null  object
 24  Units_LBS                            683733 non-null  object
 25  Vendor & Size                        683733 non-null  object
 26  Vendor/Brand                         683733 non-null  object
 27  X-axis Dimension                     683733 non-null  object
 28  YrPd                                 683733 non-null  object
 29  YYYYPP                               683733 non-null  int64
 30  YYYYPP Parameter                     683733 non-null  int64
 31  % Unit Non-Promoted                  540956 non-null  object
 32  % Unit Promoted                      540956 non-null  object
 33  Avg Prc                              683733 non-null  float64
 34  avg price diff                       432932 non-null  object
 35  avg price/lbs diff                   432932 non-null  object
 36  Avg, Price Chg                       432925 non-null  object
 37  Avg, Price/LBS Chg                   432925 non-null  object
 38  Avg. Price                           540956 non-null  object
 39  Avg. Price yago                      530106 non-null  object
 40  Avg. Price/Cnt                       526937 non-null  object
 41  Avg. Price/LBS                       540956 non-null  object
 42  Avg. Price/LBS yago                  530106 non-null  object
 43  Chg Yago Dol                         683733 non-null  float64
 44  Chg Yago Dol Ap                      683733 non-null  float64
 45  Chg Yago Dol Np                      683733 non-null  float64
 46  Chg Yago Lbs                         683733 non-null  float64
 47  Chg Yago Lbs Ap                      683733 non-null  float64
 48  Chg Yago Lbs Np                      683733 non-null  float64
 49  Chg Yago Units                       683733 non-null  float64
 50  Chg Yago Units Ap                    683733 non-null  float64
 51  Chg Yago Units Np                    683733 non-null  float64
 52  CPI FOOD AT HOME INDEX               275521 non-null  float64
 53  Data Update Date                     683733 non-null  object
 54  Diff in Dol Yago                     683733 non-null  float64
 55  Difference in Promo Price from YAGO  256817 non-null  float64
 56  DOL                                  683733 non-null  float64
 57  Dol % Chg                            530079 non-null  object
 58  Dol Ap                               683733 non-null  float64
 59  Dol mm                               683733 non-null  object
 60  Dol Np                               683733 non-null  float64
 61  Dollars/LBS                          540956 non-null  object
 62  Hideshowlabel                        540956 non-null  object
 63  Hideshowlabel_LBS                    540956 non-null  object
 64  Integer_NMCnt                        662678 non-null  float64
 65  LBS                                  683733 non-null  float64
 66  Lbs Ap                               683733 non-null  float64
 67  LBS Chg yago %                       530106 non-null  object
 68  Lbs Np                               683733 non-null  float64
 69  non-Promo Diff yago                  424577 non-null  float64
 70  Non-Promo Price                      533190 non-null  object
 71  Non-Promo Price yago                 522750 non-null  float64
 72  Non-Promo Price/LBS                  533190 non-null  object
 73  NumCnt                               662678 non-null  float64
 74  Prc Per Pkg                          649334 non-null  float64
 75  Price/Ct                             526937 non-null  object
 76  Promo Price                          353674 non-null  object
 77  Promo Price yago                     339272 non-null  object
 78  Promo Price/LBS                      353674 non-null  object
 79  slidingtimewindow_sort               683733 non-null  int64
 80  Std Dev                              683733 non-null  float64
 81  TotalCnt                             662678 non-null  float64
 82  Totl Dol Catg                        683733 non-null  float64
 83  ttl_ct                               662678 non-null  float64
 84  Units                                683733 non-null  float64
 85  Units Ap                             683733 non-null  float64
 86  Units Chg yago %                     530106 non-null  object
 87  Units Np                             683733 non-null  float64
 88  UnitsNpNULLx                         683733 non-null  int64
 89  UnitsNpx                             0 non-null       float64
 90  Yago Dol                             683733 non-null  float64
 91  Yago Dol Ap                          683733 non-null  float64
 92  Yago Dol Np                          683733 non-null  float64
 93  Yago Lbs                             683733 non-null  float64
 94  Yago Lbs Ap                          683733 non-null  float64
 95  Yago Lbs Np                          683733 non-null  float64
 96  Yago Units                           683733 non-null  float64
 97  Yago Units Ap                        683733 non-null  float64
 98  Yago Units Np                        683733 non-null  float64
dtypes: bool(1), float64(42), int64(7), object(49)
memory usage: 511.9+ MB

In [37]:
import pandas as pd
pd.set_option('display.max_columns', None)

numeric_columns = EDT.select_dtypes(include='number').columns

for i in range(0, len(numeric_columns), 10):
    chunk_columns = numeric_columns[i:i+10]
    chunk_description = EDT[chunk_columns].describe().loc[['min', 'max']]
    print(chunk_description)

     Cntstr  Fisc Pd  Fisc Pd_int  Fisc Yr    YYYYPP  YYYYPP Parameter  \
min     1.0      1.0          1.0   2020.0  202011.0          202202.0
max    96.0     12.0         12.0   2023.0  202310.0          202202.0

     Avg Prc  Chg Yago Dol  Chg Yago Dol Ap  Chg Yago Dol Np
min     5.30  -10862628.42      -8886024.59      -9114535.92
max     7.52   22603857.53      11075441.82      17814256.84
     Chg Yago Lbs  Chg Yago Lbs Ap  Chg Yago Lbs Np  Chg Yago Units  \
min   -3010428.45      -4121849.35      -4199804.34     -3646404.95
max    8385610.31       5139548.53       8219470.32      9491435.69

     Chg Yago Units Ap  Chg Yago Units Np  CPI FOOD AT HOME INDEX  \
min        -4550647.05        -1434417.01                   104.8
max         4742050.90         9491435.69                   108.3

     Diff in Dol Yago  Difference in Promo Price from YAGO          DOL
min      -10862628.42                           -50.727414        -6.70
max       22603857.53                            41.401762  29429925.11
          Dol Ap       Dol Np  Integer_NMCnt         LBS      Lbs Ap  \
min         0.00        -6.70            1.0        0.00        0.00
max  19154843.55  19105908.63           96.0  9476402.57  5183021.93

         Lbs Np  non-Promo Diff yago  Non-Promo Price yago  NumCnt  \
min        0.00          -107.300000                  0.00     1.0
max  8219470.32            48.957729                109.99    96.0

     Prc Per Pkg
min         0.00
max      2522.88
     slidingtimewindow_sort  Std Dev     TotalCnt  Totl Dol Catg       ttl_ct  \
min                     1.0     3.62         0.00   1.270309e+06         0.00
max                     3.0     4.59  89850319.84   7.612957e+09  89850319.84

           Units    Units Ap    Units Np  UnitsNpNULLx  UnitsNpx
min         0.00        0.00        0.00           0.0       NaN
max  11217139.12  6709526.51  5772714.21           0.0       NaN
        Yago Dol  Yago Dol Ap  Yago Dol Np     Yago Lbs  Yago Lbs Ap  \
min        -6.70         0.00        -6.70         0.00         0.00
max  35641908.08  18540198.71  19323254.91  11194321.56   5708137.74

     Yago Lbs Np   Yago Units  Yago Units Ap  Yago Units Np
min         0.00         0.00           0.00           0.00
max   8909340.35  13130949.43     7527521.24     6438803.76